﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.Carousel>
@using Umbraco.Web.Models
@{
    Layout = null;

    var carouselRepeater = Model.Value<IEnumerable<IPublishedElement>>("carouselRepeater");
}

@if (carouselRepeater != null && carouselRepeater.Any())
{
    <script src="~/assets/js/script.min.js"></script>

    <div class="space-carousel__wrapper">
        <div class="js-space-carousel space-carousel">
            @foreach (var item in carouselRepeater)
            {
                var overlayColour = item.HasValue("overlayColour") ? item.Value<string>("overlayColour") : "";
                var title = item.HasValue("title") ? item.Value<string>("title") : "";
                var text = item.HasValue("text") ? item.Value<string>("text") : "";
                var link = item.Value<Link>("link");

                var image = item.Value<IPublishedContent>("image");
                string imageUrl = "";
                if (image != null)
                {
                    imageUrl = image.GetCropUrl(300, 300);
                }

                if (link != null)
                {
                    <div class="space-carousel__box">
                        <img src="@imageUrl" alt="">
                        <!--  TODO: Carousel element with a link -->
                        <a class="space-carousel__overlay @(!string.IsNullOrWhiteSpace(overlayColour) ? overlayColour : "bg-navy")" href="@link.Url" target="@link.Target">
                            <div class="space-carousel__overlay__content">
                                @if (title != null && !string.IsNullOrWhiteSpace(title))
                                {
                                    <h3 class="space-carousel__title normal">@title</h3>
                                }

                                @if (text != null && !string.IsNullOrWhiteSpace(text))
                                {
                                    <div class="space-carousel__text">@text</div>
                                }
                                <div class="space-carousel__logo">
                                    <svg fill="#FFF" width="42" height="42" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39 28"><path d="M21.75 20.5l10-6.5-10-6.5zm2-9.31L28.08 14l-4.33 2.81z" /><path d="M24.75 0a14 14 0 00-14 13.5H.25v2h10.58A14 14 0 1024.75 0zm0 26a12 12 0 01-11.9-10.5h4.4v-2h-4.47a12 12 0 1112 12.5z" /></svg>
                                </div>
                            </div>
                        </a>
                    </div>
                }

                if (link == null)
                {
                    <div class="space-carousel__box">
                        <img src="@imageUrl" alt="">
                        <!--  TODO: Carousel element with a link -->
                        <div class="space-carousel__overlay @(!string.IsNullOrWhiteSpace(overlayColour) ? overlayColour : "bg-navy")">
                            <div class="space-carousel__overlay__content">
                                @if (title != null && !string.IsNullOrWhiteSpace(title))
                                {
                                    <h3 class="space-carousel__title normal">@title</h3>
                                }

                                @if (text != null && !string.IsNullOrWhiteSpace(text))
                                {
                                    <div class="space-carousel__text">@text</div>
                                }
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
}