﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.MapRow>
@using Umbraco.Web.Models

@{
    Layout = null;

    var mapRepeater = Model.Value<IEnumerable<IPublishedElement>>("mapPointsRepeater");
}

    <div class="map-billboard" style="background-image:url('/assets/img/bg/mapPreview.png'); background-position:center; background-repeat:no-repeat; background-size:cover;">
        <!-- TODO: Let user to add data-lat, data-lng and data-direction -->
        <div class="acf-map js-event-map map-billboard__map">
            <div class="marker js-marker" data-lat="50.8663864" data-lng="-0.0870514">
            </div>
            <div class="marker js-marker" data-lat="50.8673864" data-lng="-0.0871514">
            </div>
            <div class="marker js-marker" data-lat="50.8783864" data-lng="-0.0872514">
            </div>
        </div>
    </div>