﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.OverlapImageRow>
@using Umbraco.Web.Models

@{
    Layout = null;

    var reverte = Model.Value<bool>("reverse") ? "revert" : "";
    var backgroundColour = Model.HasValue("backgroundColour") ? Model.Value<string>("backgroundColour") : "";
    var date = Model.HasValue("date") ? Model.Value<string>("date") : "";
    var title = Model.HasValue("title") ? Model.Value<string>("title") : "";
    var text = Model.HasValue("text") ? Model.Value<string>("text") : "";
    var textLink = Model.Value<Link>("linkButton");
    var image = Model.Value<IPublishedContent>("image");

    string imageUrl = "";
    if (image != null)
    {
        imageUrl = image.GetCropUrl(600, 380);
    }
}


<div class="overlap-image__wrapper @reverte">
    <div class="section-container">
        <div class="overlap-image">
            <div class="overlap-image__copy">
                @if (date != null && !string.IsNullOrWhiteSpace(date))
                {
                <div class="overlap-image__date bold">@date</div>
                }
                @if (title != null && !string.IsNullOrWhiteSpace(title))
                {
                <h3 class="overlap-image__title">@title</h3>
                }
                @if (text != null && !string.IsNullOrWhiteSpace(text))
                {
                <p class="overlap-image__text">@text</p>
                }
                @if (textLink != null)
                {
                <div class="overlap-image__btn btn__wrapper">
                    <a class="space-btn" href="@textLink.Url" target="@textLink.Target">@textLink.Name</a>
                </div>
                }
            </div>
            <div class="overlap-image__img">
                <img class="lazy" src="@imageUrl" alt="">
            </div>
        </div>
    </div>
    <div class="overlap-image__bg @(!string.IsNullOrWhiteSpace(backgroundColour) ? backgroundColour : "bg-navy")"></div>
</div>