﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.ThreeColumnStatic>

@{
    Layout = null;

    var columnRepeater = Model.Value<IEnumerable<IPublishedElement>>("columnRepeaterStatic");
}

@* the fun starts here *@


<div class="three-column-static__wrapper">
    <div class="section-container">
        <div class="js-three-column-static three-column-static">

            @if (columnRepeater != null && columnRepeater.Any())
            {
                foreach (var item in columnRepeater)
                {

                    var contentTitle = item.HasValue("title") ? item.Value<string>("title") : "";
                    var contentText = item.HasValue("text") ? item.Value<string>("text") : "";
                    var image = item.Value<IPublishedContent>("image");

                    string imageUrl = "";
                    if (image != null)
                    {
                        imageUrl = image.GetCropUrl(448, 360);
                    }

                    <div class="three-column-static__box">
                        <div class="three-column-static__inner">
                            <div class="three-column-static__img">
                                <img class="lazy" src="@imageUrl" alt="">
                            </div>
                            <div class="three-column-static__copy">
                                <div class="three-column-static__copy--top">
                                    @if (contentTitle != null && !string.IsNullOrWhiteSpace(contentTitle))
                                    {
                                    <h3 class="three-column-static__title">
                                        @contentTitle
                                        <div class="three-column-static-title__underline bg-yellow"></div>
                                    </h3>
                                    }
                                    @if (contentText != null && !string.IsNullOrWhiteSpace(contentText))
                                    {
                                    <p class="three-column-static__text">@contentText</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>