.space-carousel__wrapper {
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.space-carousel {
    .slick-track {
        display: flex;
    }

    .slick-slide {
        overflow: hidden;
    }
}

.space-carousel__box {
    position: relative;
    text-align: center;

    img {
        transform: scale(1);
        transition: all .5s ease-in-out;
        width: 100%;
    }
}

.space-carousel__title {
    margin-bottom: 20px;
}

.space-carousel__text {
    margin-bottom: 14px;
}


//------------------------------------
//	Buttons / Slick
//------------------------------------
.space-carousel__wrapper {
    .slick-prev,
    .slick-next {
        font-size: 0;
        cursor: pointer;
        outline: 0;
        border: 0;
    }

    .slick-prev {
        position: absolute;
        left: 0;
        height: 100%;
        width: 35px;
        background-color: $bg-yellow;
        z-index: $z-lvl-2;

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 0; 
            height: 0; 
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent; 
            border-right:10px solid $bg-white; 
            transition: transform 0.3s ease-out;
        }
    }

    .slick-next {
        position: absolute;
        right: 0;
        top: 0;
        height: 100%;
        width: 35px;
        background-color: $bg-yellow;
        z-index: $z-lvl-2;   

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 0; 
            height: 0; 
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 10px solid $bg-white;
            transition: transform 0.3s ease-out;
        }
    }

    .slick-prev:hover {
        &::after {
            transform: translate(-8px, -50%);
        }
    }

    .slick-next:hover {
        &::after {
            transform: translate(-2px, -50%);
        }
    }
}


//------------------------------------
//	Overlay
//------------------------------------
@include mediaMin($laptop-s) {
    .space-carousel__box:hover,
    .space-carousel__box:focus {
        .space-carousel__overlay {
            height: 100%;
        }

        img {
            transform: scale(1.01);
        }

        .space-carousel__overlay__content {
            opacity: 1;
            transition: .4s ease;
        }
    }
}

.space-carousel__overlay {
    color: $text-white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: $z-lvl-2;
    transition: .5s ease;
    width: 100%;
    height: 0px;
    opacity: 0.8;

    @include mediaMax($laptop-s) {
        height: 100%;
    }
}

.space-carousel__overlay__content {
    opacity: 0;
    padding: 20px;
    transition: .9s ease;

    @include mediaMax($laptop-s) {
        opacity: 1;
    }
}
