// ==========================================================================
// # TEXT
// ==========================================================================
.content-heavy__bottom {
    position: relative;

    &.bg-yellow {
        .content-heavy__bottom__text {
            color: $text-primary;
        }

        .content-heavy__table  {
            width: 80%;
            border-top: 1px solid $bg-primary;
            border-bottom: 1px solid $bg-primary;
        }

        .content-heavy__top__underline {
            background-color: $bg-blue;
        }
    }
}

.content-heavy__top__title {
    position: relative;
    margin-bottom: 40px;
    padding: 90px 80px 15px 0px;

    @include mediaMax($laptop-s) {
        padding: 30px 0px 26px 0px;
        margin-bottom: 26px;
    }

    h1 {
        font-size: 55px;
        line-height: 60px;

        @include mediaMax($tablet-m) {
            font-size: 38px;
            line-height: 42px;
        }
    }
}

.content-heavy__top__underline {
    position: absolute;
    bottom: 0;
    left: 0px;
    width: 110%;
    height: 1px;
    z-index: $z-lvl-2;
}

.content-heavy__wrapper {
    position: relative;
}

.content-heavy__bottom__text {
    color: $text-white;
    width: 45%;

    @include mediaMax($laptop-s) {
        width: 100%;
        padding-right: 0px;
        padding-top: 340px;
    }

    @include mediaMax($phone-l) {
        padding-top: 270px;
    }
}

.content-heavy__bottom__bg {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 55%;

    @include mediaMax($laptop-s) {
        bottom: unset;
        right: unset;
        top: 0;
        left: 0;
        width: 100%;
        height: 340px;
    }

    @include mediaMax($phone-l) {
        height: 270px;
    }
}

.content-heavy__info {
    padding: 0px 80px 80px 0px;

    @include mediaMax($laptop-s) {
        padding: 0px 0px 40px 0px;
    }
}

.content-heavy__bottom__copy {
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 20px;

    @include mediaMax($laptop-s) {
        margin-bottom: 0px;
    }

    p {
        margin-bottom: 30px;
    }
}

.content-heavy__bottom__subtitle {
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 10px;

    @include mediaMax($laptop-s) {
        margin-bottom: 0px;
    }

    p {
        margin-bottom: 30px;
    }
}

.content-heavy__pricing__heading {
    padding-bottom: 16px;
}

// ==========================================================================
// # CHAT
// ==========================================================================
.content-heavy__chat {
    width: 76px;
    height: 52px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: $bg-yellow;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mediaMax($laptop-s) {
        display: none;
    }

    &::after {
        margin-top: 10px;
        content: url("data:image/svg+xml,%3Csvg fill='%23FFFFFF' width='32' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31 28'%3E%3Cpath d='M26.61 0H4.4A4.12 4.12 0 00.26 4.13v13.64a4.14 4.14 0 004 4.11H17.39a1.13 1.13 0 01.64.2l8.21 5.69.32.21v-6.07c.27 0 .52-.05.77-.1a4.14 4.14 0 003.41-4.08V4.16A4.12 4.12 0 0026.61 0zM29 17.54a2.73 2.73 0 010 .57 2.39 2.39 0 01-2.34 2H24.8v4.5l-.33-.22c-2-1.36-3.91-2.73-5.87-4.07a1.24 1.24 0 00-.64-.2H4.27A2.4 2.4 0 012 17.55V4.35A1.61 1.61 0 012 4a2.4 2.4 0 012.57-2.21h22.19A2.39 2.39 0 0129 4.35z'/%3E%3Cpath d='M8.44 6.33h14.15v1.74H8.44zM8.43 10.14h14.15v1.73H8.43zM8.43 13.95h14.15v1.73H8.43z'/%3E%3C/svg%3E");
    }
}


// ==========================================================================
// # IMAGE
// ==========================================================================
.content-heavy__bottom__bg {
    .content-heavy__carousel {
        height: 100%;
        overflow: hidden;
    }

    .content-heavy__slide {
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}


// ==========================================================================
// # TABLE
// ==========================================================================
.content-heavy__table  {
    width: 86%;
    border-top: 1px solid $bg-yellow;
    border-bottom: 1px solid $bg-yellow;
    font-size: 14px;
    padding: 10px 0px;

    @include mediaMax($laptop-s) {
        width: 60%;
    }

    @include mediaMax($tablet) {
        width: 100%;
        margin-bottom: 40px;
    }

    .content-heavy__place {
        padding: 12px 20px 12px 0px;
        white-space: nowrap;

        @include mediaMax($tablet-s) {
            white-space: unset;
        }
    }

    .content-heavy__price {
        padding: 12px 20px 12px 20px;
        text-align: right;
    }
}