.map-billboard__map {
    width: 100%;
    height: 450px;
  
    @include mediaMax($tablet-s) {
      height: 300px;
    }

    .gm-style-iw.gm-style-iw-c {
      width: 250px;

      a {
        text-decoration: underline;
      }
    }
}
