.overlap-image__wrapper {
    position: relative;
}

.overlap-image {
    display: flex;
    align-items: center;

    @include mediaMax($tablet) {
        flex-wrap: wrap;
    }
}

.overlap-image__copy {
    width: 50%;
    padding-right: 85px;
    margin: 50px 0px;

    @include mediaMax($tablet) {
        width: 100%;
        order: 2;
        margin: 34px 0px;
        padding-right: 0px;
    }
}

.overlap-image__img {
    position: relative;
    width: 50%;
    padding: 65px 0px;
    z-index: $z-lvl-2;

    @include mediaMax($tablet) {
        width: 100%;
        order: 0;
        padding: 45px 0px;
        text-align: center;
    }

    @include mediaMax($phone-l) {
        padding: 35px 0px;
    }

    img {
        @include mediaMax($phone-l) {
            height: 200px;
        }
    }
}

.overlap-image__date {
    margin-bottom: 23px;
}

.overlap-image__title {
    margin-bottom: 25px;
}

.overlap-image__text {
    margin-bottom: 25px;
}

.overlap-image__bg {
    position: absolute;
    right: 0;
    top: 0;
    width: 43%;
    height: 100%;
    z-index: $z-lvl-1;

    @include mediaMax($tablet) {
        width: 70%;
        height: 460px;
    }

    @include mediaMax($phone-l) {
        height: 270px;
    }
}


//------------------------------------
//	Revert
//------------------------------------
.overlap-image__wrapper.revert {
    .overlap-image__copy {
        order: 2;
        padding-right: 0px;
        padding-left: 80px;

        @include mediaMax($tablet) {
            padding-left: 0px;
        }
    }

    .overlap-image__img {
        order: 0;
        text-align: end;

        @include mediaMax($tablet) {
            text-align: center;
        }
    }

    .overlap-image__bg {
        right: unset;
        left: 0;
    }
}