.single-column-text__wrapper {
    max-width: 902px;
    margin: 0 auto;
}

.single-column-text {
    padding: 0px 20px;

    h1, h2, h3, h4, h5, h6 {
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 20px;
    }
}