.margin--10 {
    height: 10px;

    &.mobile {
        @include mediaMax($tablet-l) {
            height: 10px;
        }
    }
}

.margin--20 {
    height: 20px;

    &.mobile {
        @include mediaMax($tablet-l) {
            height: 10px;
        }
    }
}

.margin--30 {
    height: 30px;

    &.mobile {
        @include mediaMax($tablet-l) {
            height: 15px;
        }
    }
}


.margin--40 {
    height: 40px;

    &.mobile {
        @include mediaMax($tablet-l) {
            height: 20px;
        }
    }
}

.margin--50 {
    height: 50px;

    &.mobile {
        @include mediaMax($tablet-l) {
            height: 25px;
        }
    }
}


.margin--60 {
    height: 60px;

    &.mobile {
        @include mediaMax($tablet-l) {
            height: 30px;
        }
    }
}

.margin--70 {
    height: 70px;

    &.mobile {
        @include mediaMax($tablet-l) {
            height: 35px;
        }
    }
}


.margin--80 {
    height: 80px;

    &.mobile {
        @include mediaMax($tablet-l) {
            height: 40px;
        }
    }
}

.margin--90 {
    height: 90px;

    &.mobile {
        @include mediaMax($tablet-l) {
            height: 45px;
        }
    }
}


.margin--100 {
    height: 100px;

    &.mobile {
        @include mediaMax($tablet-l) {
            height: 50px;
        }
    }
}

.margin--110 {
    height: 110px;

    &.mobile {
        @include mediaMax($tablet-l) {
            height: 55px;
        }
    }
}


.margin--120 {
    height: 120px;

    &.mobile {
        @include mediaMax($tablet-l) {
            height: 60px;
        }
    }
}