//------------------------------------
//	Desktop
//------------------------------------
.standard-row__wrapper {
    position: relative;

    @include mediaMax($laptop-s) {
        display: none;
    }
}

.standard-row__bg {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: $z-lvl-1;
}

.standard-row__img--bg {
    display: none;
}

.standard-row__picture {
    height: 320px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.standard-row {
    display: flex;
    position: relative;
    z-index: $z-lvl-2;
}

.standard-row__box--split {
    width: 54%;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.standard-row__main-title {
    max-width: 300px;
}

.standard-row__main-title__h2 {
    position: relative;
}

.standard-row__main-title__underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 130%;
    height: 1px;
}

.standard-row__box--copy {
    width: 46%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0px 20px 63px;
}

.standard-row__title {
    margin-bottom: 25px;
}

.standard-row__text {
    margin-bottom: 22px;
    font-size: 14px;
}


//------------------------------------
//	Mobile
//------------------------------------
.standard-row__wrapper--mobile {
    display: none;

    @include mediaMax($laptop-s) {
        display: block;
    }
}

.standard-row__box--copy--mobile {
    padding: 35px 0px;
}

.standard-row__title--mobile {
    margin-bottom: 25px;
}

.standard-row__text--mobile {
    margin-bottom: 20px;
}

.standard-row__main-title__h2--mobile {
    position: relative;
    display: inline-block;
    margin-left: calc( 15px + 39 * (100vw - 360px) / 1120 );

    @include mediaMax($tablet-s) {
        margin-left: 20px !important;
    }
}

.standard-row__main-title__underline--mobile {
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 260px;
    height: 1px;
}


//------------------------------------
//	Revert
//------------------------------------
.standard-row__wrapper.revert {
    .standard-row__box--split {
        order: 2;
        justify-content: flex-start;
    }

    .standard-row__box--copy {
        order: 0;
        padding: 20px 63px 20px 0px;
    }

    .standard-row__bg {
        position: absolute;
        left: 0;
        right: unset;
        top: 0;
        width: 50%;
        height: 100%;
    }

    .standard-row__main-title {
        order: 2;
        text-align: right;
    }

    .standard-row__img {
        order: 0;
    }

    .standard-row__main-title__underline {
        left: unset;
        right: 0;
    }
}