.three-column-static {
    display: flex;
    margin: 0px -8px;
    background-color: $bg-white;

    @include mediaMax($tablet-l) {
        display: block;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.three-column-static__box {
    width: 33.33%;
    padding: 0px 8px;
    margin-bottom: 40px;
    outline: 0;
}

.three-column-static__inner {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $text-primary;
}

.three-column-static__copy {
    color: $text-white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 25px;
}

.three-column-static__title {
    padding-bottom: 22px;
    margin-bottom: 22px;
    position: relative;
}

.three-column-static-title__underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px !important;
}

.three-column-static__img {
    img {
        width: 100%;
    }
}

.three-column-static__icon {
    svg {
        position: relative;
        transition: .4s ease;
    }
}

@include mediaMin($laptop-s) {
    .three-column-static__box:hover {
        svg {
            transform: translateX(6px);
        }
    } 
}


.three-column-static {
    .slick-track {
        display: flex;
    }

    .slick-slide {
        outline: 0;
        
        div {
            height: 100%;
        }

        .three-column-static__img {
            height: auto;
        }

        .three-column-static__box {
            height: 100%;
        }
    
        .three-column-static__icon {
            display: flex;
            align-items: flex-end;
            justify-content: center;
        }
    }

}