/*------------------------------------|
|	Fonts                               |
|------------------------------------*/

/* Alpha font type for body copy */
// In this project fonts are loaded from Adobe Typekit

// @font-face {
//   font-family: 'gothicregular';
//   src: url('../fonts/gothic/gothic-regular.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;

// }
