// ==========================================================================
// IMAGES
// ==========================================================================

img {
    border: 0;
    height: auto;
    -ms-interpolation-mode: bicubic;
    max-width: 100%;
    vertical-align: middle;

    &.img-full {
        width: 100%;
    }
}

img[data-src] {
    opacity: 0;
}

img.loaded {
    transition: opacity .5s linear 0.2s;
    opacity: 1;
}