// ==========================================================================
// TYPOGRAPHY
//
// Description: base typography styles to apply globally
// ==========================================================================


// ==========================================================================
// GLOBAL
// ==========================================================================

html {
    font-size: $base-font-size;
}

body {
    font-size: 1rem;
    font-family: $base-font-family;
        
    @include mediaMax($tablet-s) {
        font-size: $base-font-size-mobile;
    }
}

p { 
    line-height: 1.4;
    margin: 0 0 5px 0;
}

.bold {
    font-weight: 600;
}

.normal {
    font-weight: 400;
}

.text-center {
    text-align: center;
}

.nowrap {
    white-space: nowrap;
}

// ==========================================================================
// HEADINGS
// ==========================================================================

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h1,
.heading-1 {
    font-size: 55px;
    margin: 0px;

    @include mediaMax($tablet-m) {
        font-size: 28px;
    }
}

h2,
.heading-2 {
    font-size: 45px;
    margin: 0px;

    @include mediaMax($tablet-m) {
        font-size: 26px;
    }
}

.heading-2-1 {
    font-size: 45px;
    margin: 0px;

    @include mediaMax($tablet-m) {
        font-size: 35px;
    }
}

h3,
.heading-3 {
    font-size: 24px;
    margin: 0px;

    @include mediaMax($tablet-m) {
        font-size: 22px;
    }
}


.heading-6 {
    font-size: 14px;
    margin: 0px;

    @include mediaMax($tablet-m) {
        font-size: 12px;
    }
}


.heading-7 {
    font-size: 12px;
    margin: 0px;

    @include mediaMax($tablet-m) {
        font-size: 12px;
    }
}


// ==========================================================================
// LINKS
// ==========================================================================

li {
    @include mediaMin($laptop-s) {
        a:hover {
            opacity: 0.8;
        }
    }
}

a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    line-height: 1.4;

    &:hover,
    &:active {
        outline: 0;

    }
}
