﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.AccordionRow>
@{
    Layout = null;

    var mainTitle = Model.HasValue("mainTitle") ? Model.Value<string>("mainTitle") : "";
    var accordionRowRepeater = Model.Value<IEnumerable<IPublishedElement>>("accordionRowRepeater");
}

@if (accordionRowRepeater != null && accordionRowRepeater.Any())
{
    <div class="accordion__wrapper bg-primary">
        <div class="section-container">
            <div class="accordion">
                @if (mainTitle != null && !string.IsNullOrWhiteSpace(mainTitle))
                {
                    <div class="accordion__title">
                        <h2>
                            @mainTitle
                            <div class="accordion-title__underline bg-yellow"></div>
                        </h2>
                    </div>
                }

                <div class="accordion__box__wrapper">
                    @foreach (var item in accordionRowRepeater)
                    {
                        var title = item.HasValue("title") ? item.Value<string>("title") : "";
                        var secondRepeater = item.Value<IEnumerable<IPublishedElement>>("innerAccordionRepeater");


                        <div class="accordion__box">
                            @if (title != null && !string.IsNullOrWhiteSpace(title))
                            {
                                <h3 class="js-accordion-toggle accordion__box__title heading-3" href="#">@title</h3>
                            }

                            @{
                                if (secondRepeater != null && secondRepeater.Any())
                                {
                                    <ul class="accordion__ul accordion__inner">
                                        @foreach (var innerItem in secondRepeater)
                                        {
                                            <li class="accordion__li accordion__li--inner">
                                                @{
                                                    var accordionTitle = innerItem.HasValue("accordionTitle") ? innerItem.Value<string>("accordionTitle") : "";
                                                    var accordionText = innerItem.HasValue("accordionText") ? innerItem.Value<string>("accordionText") : "";
                                                }

                                                <h3>@accordionTitle</h3>
                                                <p>@accordionText</p>
                                            </li>
                                        }
                                    </ul>
                                }
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

