﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.LargeImageRow>
@using Umbraco.Web.Models

@{
    Layout = null;

    var reverte = Model.Value<bool>("reverse") ? "revert" : "";
    var date = Model.HasValue("date") ? Model.Value<string>("date") : "";
    var title = Model.HasValue("title") ? Model.Value<string>("title") : "";
    var text = Model.HasValue("text") ? Model.Value<string>("text") : "";
    var textLink = Model.Value<Link>("link");
    var image = Model.Value<IPublishedContent>("image");

    string imageUrl = "";
    if (image != null)
    {
        imageUrl = image.GetCropUrl(960, 600);
    }
}


<div class="large-image__wrapper @reverte">
    <div class="section-container large-image__container">
        <div class="large-image">
            <div class="large-image__box">
                @if (date != null && !string.IsNullOrWhiteSpace(date))
                {
                    <div class="large-image__date">@date</div>
                }
                @if (title != null && !string.IsNullOrWhiteSpace(title))
                {
                    <h3 class="large-image__title">@title</h3>
                }
                @if (text != null && !string.IsNullOrWhiteSpace(text))
                {
                    <p class="large-image__text">@text</p>
                }
                @if (textLink != null)
                {
                    <div class="large-image__btn btn__wrapper">
                        <a class="space-btn" href="@textLink.Url" target="@textLink.Target">@textLink.Name</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="large-image__bg lazy" style="background-image:url('@imageUrl')"></div>
</div>
