﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.MainRowWithTable>
@using Umbraco.Web.Models

@{
    Layout = null;

    var paragraphRepeater = Model.Value<IEnumerable<IPublishedElement>>("paragraphRepeater");
    var tableRepeater = Model.Value<IEnumerable<IPublishedElement>>("tableRepeater");

    var tableTitle = Model.HasValue("tableTitle") ? Model.Value<string>("tableTitle") : "";
    var titleTopLine = Model.HasValue("titleTopLine") ? Model.Value<string>("titleTopLine") : "";
    var titleBottomLine = Model.HasValue("titleBottomLine") ? Model.Value<string>("titleBottomLine") : "";
    var subheadingText = Model.HasValue("subheadingText") ? Model.Value<string>("subheadingText") : "";
    var backgroundColour = Model.HasValue("backgroundColour") ? Model.Value<string>("backgroundColour") : "";
    var chatLink = Model.Value<Link>("chatLink");
}


    <div class="content-heavy__wrapper">

        <div class="content-heavy__bottom @(!string.IsNullOrWhiteSpace(backgroundColour) ? backgroundColour : "bg-navy")">
            <div class="section-container">
                <div class="content-heavy__bottom__text">
                    <div class="content-heavy__top__title">
                        @if (titleTopLine != null && !string.IsNullOrWhiteSpace(titleTopLine))
                        {
                            <h1 class="content-heavy__top__heading">@titleTopLine</h1>
                        }
                        @if (titleBottomLine != null && !string.IsNullOrWhiteSpace(titleBottomLine))
                        {
                            <h1 class="content-heavy__top__heading">@titleBottomLine</h1>
                        }
                        <div class="content-heavy__top__underline bg-yellow"></div>
                    </div>
                    <div class="content-heavy__info">
                        @if (subheadingText != null && !string.IsNullOrWhiteSpace(subheadingText))
                        {
                            <div class="content-heavy__bottom__subtitle">
                                <p>@subheadingText</p>
                            </div>
                        }

                        <div class="content-heavy__bottom__copy">
                            @if (paragraphRepeater != null && paragraphRepeater.Any())
                            {
                                foreach (var item in paragraphRepeater)
                                {
                                    var paragraph = item.HasValue("paragraphText") ? item.Value<string>("paragraphText") : "";

                                    <p>@paragraph</p>
                                }
                            }
                        </div>
                        <div class="content-heavy__pricing">
                            @if (tableTitle != null && !string.IsNullOrWhiteSpace(tableTitle))
                            {
                                <h2 class="content-heavy__pricing__heading heading-3">@tableTitle</h2>
                            }
                            <table class="content-heavy__table">
                                <tbody>
                                    @if (tableRepeater != null && tableRepeater.Any())
                                    {
                                        foreach (var item in tableRepeater)
                                        {
                                            var tableName = item.HasValue("tableName") ? item.Value<string>("tableName") : "";
                                            var tablePrice = item.HasValue("tablePrice") ? item.Value<string>("tablePrice") : "";

                                            <tr>
                                                <td class="content-heavy__place">@tableName</td>
                                                <td class="content-heavy__price">@tablePrice</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-heavy__bottom__bg">
                <div class="content-heavy__carousel">
                    <div class="content-heavy__slide" style="background-image:url('https://picsum.photos/800/300')"></div>
                </div>
            </div>
        </div>
        @if (chatLink != null)
        {
            <a href="@chatLink.Url" class="content-heavy__chat"></a>
        }

    </div>