﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.MainRowWithCarousel>
@using Umbraco.Web.Models

@{
    Layout = null;

    var imagesRepeater = Model.Value<IEnumerable<IPublishedElement>>("images");

    var topTitle = Model.HasValue("topTitle") ? Model.Value<string>("topTitle") : "";
    var bottomTitleLine = Model.HasValue("bottomTitleLine") ? Model.Value<string>("bottomTitleLine") : "";
    var bannerText = Model.HasValue("bannerText") ? Model.Value<string>("bannerText") : "";
    var backgroundColour = Model.HasValue("backgroundColour") ? Model.Value<string>("backgroundColour") : "";
    var textLink = Model.Value<Link>("textLink");
    var chatLink = Model.Value<Link>("chatLink");
}

    <div class="secondary-billboard__wrapper">
        <div class="secondary-billboard__bottom @(!string.IsNullOrWhiteSpace(backgroundColour) ? backgroundColour : "bg-navy")">
            <div class="section-container">
                <div class="secondary-billboard__bottom__text">
                    <div class="secondary-billboard__top__title">
                        @if (topTitle != null && !string.IsNullOrWhiteSpace(topTitle))
                        {
                            <h1 class="secondary-billboard__top__heading">@topTitle</h1>
                        }

                        @if (bottomTitleLine != null && !string.IsNullOrWhiteSpace(bottomTitleLine))
                        {
                            <h1 class="secondary-billboard__top__heading secondary-billboard__top__heading--bottom">@bottomTitleLine</h1>
                        }
                        <div class="secondary-billboard__top__underline"></div>
                    </div>
                    <div class="secondary-billboard__bottom__copy">
                        @if (bannerText != null && !string.IsNullOrWhiteSpace(bannerText))
                        {
                            <p>@bannerText</p>
                        }
                        @if (textLink != null)
                        {
                            <div class="secondary-billboard__btn btn__wrapper">
                                <a class="space-btn" href="@textLink.Url" target="@textLink.Target">@textLink.Name</a>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <div class="secondary-billboard__bottom__bg">
                <div class="js-secondary-billboard secondary-billboard__carousel">
                    @if (imagesRepeater != null && imagesRepeater.Any())
                    {
                        foreach (var item in imagesRepeater)
                        {
                            var image = item.Value<IPublishedContent>("image");

                            string imageUrl = "";
                            if (image != null)
                            {
                                imageUrl = image.GetCropUrl(800, 700);
                            }

                            <div class="secondary-billboard__slide" style="background-image:url('@imageUrl')"></div>
                        }
                    }
                </div>
                <div class="secondary-billboard__nav previous-caro-secondary"><span class="nav-previous-secondary"></span></div>
                <div class="secondary-billboard__nav next-caro-secondary"><span class="nav-next-secondary"></span></div>
            </div>
        </div>
        @if (chatLink != null)
        {
            <a href="@chatLink.Url" class="secondary-billboard__chat"></a>
        }
    </div>

