﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.MapRow>
@using Umbraco.Web.Models

@{
    Layout = null;

    var mapRepeater = Model.Value<IEnumerable<IPublishedElement>>("mapPointsRepeater");
}

@if (mapRepeater != null && mapRepeater.Any())
{
    <div class="map-billboard">
        <div class="acf-map js-event-map map-billboard__map">

            @foreach (var item in mapRepeater)
            {
                var latitude = item.HasValue("latitude") ? item.Value<string>("latitude") : "";
                var longitude = item.HasValue("longitude") ? item.Value<string>("longitude") : "";
                var markerText = item.HasValue("markerText") ? item.Value<string>("markerText") : "";
                var markerLink = item.Value<Link>("markerLink");

                <div class="marker js-marker" data-lat="@latitude" data-lng="@longitude">
                    @if (markerText != null && !string.IsNullOrWhiteSpace(markerText))
                    {
                        <p>@markerText</p>
                    }
                    @if (markerLink != null)
                    {
                        <a href="@markerLink.Url" target="@markerLink.Target">@markerLink.Name</a>
                    }
                </div>
            }
        </div>
    </div>
}