﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ClientDependency.Core.Mvc
@using Our.Umbraco.EditLink

@{
    Layout = null;

    <!-- Fonts -->
    Html.RequiresCss("https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap");
    <!-- Styles -->
    Html.RequiresCss("/assets/css/style.css");
    <!-- JavaScript -->
    Html.RequiresJs("/assets/vendor/jq/jq-3.4.1.js");
    Html.RequiresJs("https://maps.googleapis.com/maps/api/js?key=AIzaSyAz9ezftT1-KuABpJTEn2e0_Wyp9PAy0hs");
    Html.RequiresJs("/assets/js/script.min.js");
}





<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ios -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">
    <link rel="manifest" crossorigin="use-credentials" href="/assets/img/favicons/site.webmanifest">
    <link rel="mask-icon" href="/assets/img/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Browser theme colour schema -->
    <meta name="theme-color" content="#ffffff">

    @Html.RenderCssHere()

</head>

<body class="space-body" id="main-content">
    @Html.RenderEditLink(Model)
    @Html.Partial("~/Views/Partials/navigation.cshtml")

    <main class="space-main">
        @RenderBody()
    </main>

    @Html.Partial("~/Views/Partials/footer.cshtml")


    @Html.RenderJsHere()

</body>
</html>