﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.PriceTable>
@using Umbraco.Web.Models

@{
    Layout = null;

    var mainTitle = Model.HasValue("mainTitle") ? Model.Value<string>("mainTitle") : "";
    var text = Model.HasValue("text") ? Model.Value<string>("text") : "";
    var linkButton = Model.Value<Link>("linkButton");
    var priceTableRepeater = Model.Value<IEnumerable<IPublishedElement>>("priceTableRepeater");
}

<div class="price-table__wrapper">
    <div class="section-container">
        <div class="price-table">
            @if (mainTitle != null && !string.IsNullOrWhiteSpace(mainTitle))
            {
                <h3 class="price-table__heading">@mainTitle</h3>
            }
            <div class="price-table__inner">

                <table class="price-table__table">
                    <tbody>
                        @if (priceTableRepeater != null && priceTableRepeater.Any())
                        {
                            foreach (var item in priceTableRepeater)
                            {
                                var tableName = item.HasValue("tableName") ? item.Value<string>("tableName") : "";
                                var tablePrice = item.HasValue("tablePrice") ? item.Value<string>("tablePrice") : "";

                                <tr>
                                    <td class="price-table__place">@tableName</td>
                                    <td class="price-table__price">@tablePrice</td>
                                </tr>
                            }
                        }

                    </tbody>
                </table>

                <div class="price-table__text">
                    @if (text != null && !string.IsNullOrWhiteSpace(text))
                    {
                        <div class="price-table__content">
                            <p>@text</p>
                        </div>
                    }
                    @if (linkButton != null)
                    {
                        <div class="price-table__btn btn__wrapper">
                            <a class="space-btn" href="@linkButton.Url" target="@linkButton.Target">@linkButton.Name</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>