﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.SpacingRow>
@{
    Layout = null;

    var spacingUnit = Model.HasValue("margin") ? Model.Value<string>("margin") : "";
    var mobile = Model.Value<bool>("mobileReduce") ? "mobile" : "";
}


<section class="flex-spacing-block @(!string.IsNullOrWhiteSpace(spacingUnit) ? spacingUnit : "margin--20") @mobile"></section>
