﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.StandardRow>
@using Umbraco.Web.Models

@{
    Layout = null;

    var reverte = Model.Value<bool>("reverseComponent") ? "revert" : "";
    var title = Model.HasValue("title") ? Model.Value<string>("title") : "";
    var contentBackground = Model.HasValue("backgroundColour") ? Model.Value<string>("backgroundColour") : "bg-navy";
    var image = Model.Value<IPublishedContent>("image");
    var contentTitle = Model.HasValue("contentTitle") ? Model.Value<string>("contentTitle") : "";
    var contentText = Model.HasValue("contentText") ? Model.Value<string>("contentText") : "";
    var textLink = Model.Value<Link>("link");

    string imageUrl = "";
    if (image != null)
    {
        imageUrl = image.GetCropUrl(510, 400);
    }
}

@* the fun starts here *@

<!-- Desktop Version -->
<div class="standard-row__wrapper @reverte">
    <div class="section-container">
        <div class="standard-row">
            <div class="standard-row__box--split">
                <div class="standard-row__main-title">
                    @if (title != null && !string.IsNullOrWhiteSpace(title))
                    {
                        <h2 class="standard-row__main-title__h2">
                            @title
                            <div class="standard-row__main-title__underline @(!string.IsNullOrWhiteSpace(contentBackground) ? contentBackground : "bg-navy")"></div>
                        </h2>
                    }
                </div>
                <div class="standard-row__img">
                    <img class="lazy" data-src="@imageUrl" alt="">
                </div>
            </div>
            <div class="standard-row__box--copy text-white">
                @if (contentTitle != null && !string.IsNullOrWhiteSpace(contentTitle))
                {
                    <h3 class="standard-row__title heading-3">@contentTitle</h3>
                }
                @if (contentText != null && !string.IsNullOrWhiteSpace(contentText))
                {
                    <p class="standard-row__text">@contentText</p>
                }
                @if (textLink != null)
                {
                    <div class="standard-row__btn">
                        <div class="btn__wrapper">
                            <a class="space-btn" target="@textLink.Target" href="@textLink.Url">@textLink.Name</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="standard-row__bg @(!string.IsNullOrWhiteSpace(contentBackground) ? contentBackground : "bg-navy")"></div>
</div>

<!-- Mobile Version -->
<div class="standard-row__wrapper--mobile">
    <div class="standard-row--mobile">
        <div class="standard-row__main-title--mobile">
            @if (title != null && !string.IsNullOrWhiteSpace(title))
            {
                <h2 class="standard-row__main-title__h2--mobile">
                    @title
                    <div class="standard-row__main-title__underline--mobile @(!string.IsNullOrWhiteSpace(contentBackground) ? contentBackground : "bg-navy")"></div>
                </h2>
            }
        </div>
        <div class="standard-row__img--mobile">
            <img class="lazy" data-src="@imageUrl" alt="">
        </div>
        <div class="standard-row__box--copy--mobile text-white @(!string.IsNullOrWhiteSpace(contentBackground) ? contentBackground : "bg-navy")">
            <div class="section-container">
                @if (contentTitle != null && !string.IsNullOrWhiteSpace(contentTitle))
                {
                    <h3 class="standard-row__title--mobile heading-3">@contentTitle</h3>
                }
                @if (contentText != null && !string.IsNullOrWhiteSpace(contentText))
                {
                    <p class="standard-row__text--mobile">@contentText</p>
                }
                @if (textLink != null)
                {
                    <div class="standard-row__btn--mobile">
                        <div class="btn__wrapper">
                            <a class="space-btn" target="@textLink.Target" href="@textLink.Url">@textLink.Name</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>