﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.TextareaBlock>

@{
    Layout = null;

    var header = Model.HasValue("headingTextarea") ? Model.Value("headingTextarea") : "";
    var text = Model.HasValue("copyTextarea") ? Model.Value("copyTextarea") : "";

}
@* the fun starts here *@

@if (text != null || header != null)
{
    <div class="single-column-text__wrapper">
        <div class="single-column-text">
            <h3>@header</h3>
            <p>@text</p>
        </div>
    </div>
}