﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.ThreeColumnLink>
@using Umbraco.Web.Models

@{
    Layout = null;

    var columnRepeater = Model.Value<IEnumerable<IPublishedElement>>("columnsContent");
}

<div class="three-column-link__wrapper">
    <div class="section-container">
        <div class="js-three-column-link three-column-link">

            @if (columnRepeater != null && columnRepeater.Any())
            {
                foreach (var item in columnRepeater)
                {
                    var backgroundColour = item.HasValue("backgroundColour") ? item.Value<string>("backgroundColour") : "";
                    var contentTitle = item.HasValue("title") ? item.Value<string>("title") : "";
                    var contentText = item.HasValue("text") ? item.Value<string>("text") : "";
                    var textLink = item.Value<Link>("link");
                    var image = item.Value<IPublishedContent>("image");

                    string imageUrl = "";
                    if (image != null)
                    {
                        imageUrl = image.GetCropUrl(447, 300);
                    }

                    <a href="@textLink.Url" class="three-column-link__box">
                        <div class="three-column-link__inner @(!string.IsNullOrWhiteSpace(backgroundColour) ? backgroundColour : "bg-navy")">
                            <div class="three-column-link__img">
                                <img class="lazy" data-src="@imageUrl" alt="">
                            </div>
                            <div class="three-column-link__copy">
                                <div class="three-column-link__copy--top">
                                    @if (contentTitle != null && !string.IsNullOrWhiteSpace(contentTitle))
                                    {
                                        <h3 class="three-column-link__title">@contentTitle</h3>
                                    }
                                    @if (contentText != null && !string.IsNullOrWhiteSpace(contentText))
                                    {
                                        <p class="three-column-link__text">@contentText</p>
                                    }
                                </div>
                                <div class="three-column-link__icon">
                                    <svg fill="#FFF" width="42" height="42" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 39 28"><path d="M21.75 20.5l10-6.5-10-6.5zm2-9.31L28.08 14l-4.33 2.81z" /><path d="M24.75 0a14 14 0 00-14 13.5H.25v2h10.58A14 14 0 1024.75 0zm0 26a12 12 0 01-11.9-10.5h4.4v-2h-4.47a12 12 0 1112 12.5z" /></svg>
                                </div>
                            </div>
                        </div>
                    </a>

                }
            }
        </div>
    </div>
</div>