﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<Umbraco.Web.PublishedModels.TwoImageRow>
@using Umbraco.Web.Models

@{
    Layout = null;

    var mainTitle = Model.HasValue("mainTitle") ? Model.Value<string>("mainTitle") : "";
    var underlineColour = Model.HasValue("underlineColour") ? Model.Value<string>("underlineColour") : "";
    var topTitle = Model.HasValue("topTitle") ? Model.Value<string>("topTitle") : "";
    var bottomTitle = Model.HasValue("bottomTitle") ? Model.Value<string>("bottomTitle") : "";
    var topSubheading = Model.HasValue("topSubheading") ? Model.Value<string>("topSubheading") : "";
    var bottomSubheading = Model.HasValue("bottomSubheading") ? Model.Value<string>("bottomSubheading") : "";
    var topText = Model.HasValue("topText") ? Model.Value<string>("topText") : "";
    var bottomText = Model.HasValue("bottomText") ? Model.Value<string>("bottomText") : "";
    var topLink = Model.Value<Link>("topLinkButton");
    var bottomLink = Model.Value<Link>("bottomLinkButton");

    var imageOne = Model.Value<IPublishedContent>("topImage");
    string imageUrlOne = "";
    if (imageOne != null)
    {
        imageUrlOne = imageOne.GetCropUrl(430, 450);
    }

    var imageTwo = Model.Value<IPublishedContent>("bottomImage");
    string imageUrlTwo = "";
    if (imageTwo != null)
    {
        imageUrlTwo = imageTwo.GetCropUrl(430, 450);
    }
}


<div class="two-image__wrapper">
    <div class="section-container">
        <div class="two-image__container">
            <div class="two-image__main-title">
                @if (mainTitle != null && !string.IsNullOrWhiteSpace(mainTitle))
                {
                    <h2 class="heading-2-1">
                        @mainTitle
                        <div class="two-image__main-title__underline @(!string.IsNullOrWhiteSpace(underlineColour) ? underlineColour : "bg-navy")"></div>
                    </h2>
                }

            </div>
            <div class="two-image">
                <div class="two-image__inner two-image__inner--up">
                    <div class="two-image__box two-image__box__bg lazy" style="background-image:url('@imageUrlOne')"></div>
                    <div class="two-image__box">
                        <div class="two-image__box__img"></div>
                        <div class="two-image__box__copy two-image__box__copy--top">
                            @if (topTitle != null && !string.IsNullOrWhiteSpace(topTitle))
                            {
                                <h3 class="two-image__box__title">@topTitle</h3>
                            }
                            @if (topSubheading != null && !string.IsNullOrWhiteSpace(topSubheading))
                            {
                                <div class="two-image__box__text">
                                    <p>@topSubheading</p>
                                </div>
                            }
                            @if (topText != null && !string.IsNullOrWhiteSpace(topText))
                            {
                                <div class="two-image__box__text--sm heading-6">
                                    <p>@topText</p>
                                </div>
                            }
                            @if (topLink != null)
                            {
                            <div class="two-image__btn btn__wrapper">
                                <a class="space-btn" href="@topLink.Url" target="@topLink.Target">@topLink.Name</a>
                            </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="two-image__inner two-image__inner--down">
                    <div class="two-image__box">
                        <div class="two-image__box__img"></div>
                        <div class="two-image__box__copy two-image__box__copy--bottom">
                            @if (bottomTitle != null && !string.IsNullOrWhiteSpace(bottomTitle))
                            {
                                <h3 class="two-image__box__title">@bottomTitle</h3>
                            }
                            @if (bottomSubheading != null && !string.IsNullOrWhiteSpace(bottomSubheading))
                            {
                                <div class="two-image__box__text">
                                    <p>@bottomSubheading</p>
                                </div>
                            }
                            @if (bottomText != null && !string.IsNullOrWhiteSpace(bottomText))
                            {
                                <div class="two-image__box__text--sm heading-6">
                                    <p>@bottomText</p>
                                </div>
                            }
                            @if (bottomLink != null)
                            {
                                <div class="two-image__btn btn__wrapper">
                                    <a class="space-btn" href="@bottomLink.Url" target="@bottomLink.Target">@bottomLink.Name</a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="two-image__box two-image__box__bg lazy" style="background-image:url('@imageUrlTwo')"></div>
                </div>
            </div>
        </div>
    </div>
</div>
