/* Responsive Font size */
/* Responsive Padding */
/* Responsive Padding */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
  line-height: 1.33;
  letter-spacing: .45px;
  min-height: 60vh;
  color: #454B4D;
}

.vh {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}
.vh.focusable:active, .vh.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.space-main {
  max-width: 1600px;
  margin: 0 auto;
  margin-top: 86px;
}

.umb-overlay.umb-overlay-target {
  width: 600px;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
}

p {
  line-height: 1.4;
  margin: 0 0 5px 0;
}

.bold {
  font-weight: 600;
}

.normal {
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.nowrap {
  white-space: nowrap;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
}

h1,
.heading-1 {
  font-size: 55px;
  margin: 0px;
}
@media (max-width: 839px) {
  h1,
  .heading-1 {
    font-size: 28px;
  }
}

h2,
.heading-2 {
  font-size: 45px;
  margin: 0px;
}
@media (max-width: 839px) {
  h2,
  .heading-2 {
    font-size: 26px;
  }
}

.heading-2-1 {
  font-size: 45px;
  margin: 0px;
}
@media (max-width: 839px) {
  .heading-2-1 {
    font-size: 35px;
  }
}

h3,
.heading-3 {
  font-size: 24px;
  margin: 0px;
}
@media (max-width: 839px) {
  h3,
  .heading-3 {
    font-size: 22px;
  }
}

.heading-6 {
  font-size: 14px;
  margin: 0px;
}
@media (max-width: 839px) {
  .heading-6 {
    font-size: 12px;
  }
}

.heading-7 {
  font-size: 12px;
  margin: 0px;
}
@media (max-width: 839px) {
  .heading-7 {
    font-size: 12px;
  }
}

@media (min-width: 1280px) {
  li a:hover {
    opacity: 0.8;
  }
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  line-height: 1.4;
}
a:hover, a:active {
  outline: 0;
}

.landmark {
  margin-bottom: 40px;
}
@media (max-width: 1023px) {
  .landmark {
    margin-bottom: 20px;
  }
}
.landmark--quarter {
  margin-bottom: 10px;
}
@media (max-width: 1023px) {
  .landmark--quarter {
    margin-bottom: 5px;
  }
}
.landmark--half {
  margin-bottom: 20px;
}
@media (max-width: 1023px) {
  .landmark--half {
    margin-bottom: 10px;
  }
}
.landmark--three-quarters {
  margin-bottom: 30.7692307692px;
}
@media (max-width: 1023px) {
  .landmark--three-quarters {
    margin-bottom: 15.3846153846px;
  }
}
.landmark--five-quarters {
  margin-bottom: 52px;
}
@media (max-width: 1023px) {
  .landmark--five-quarters {
    margin-bottom: 26px;
  }
}
.landmark--double {
  margin-bottom: 80px;
}
@media (max-width: 1023px) {
  .landmark--double {
    margin-bottom: 40px;
  }
}
.landmark--no-desktop {
  margin-bottom: 40px;
}

.bg-black {
  background-color: #000000;
}

.bg-white {
  background-color: #ffffff;
}

.bg-yellow {
  background-color: #FFBB00;
}

.bg-green {
  background-color: #009476;
}

.bg-orange {
  background-color: #F04A02;
}

.bg-pink {
  background-color: #F1057F;
}

.bg-navy {
  background-color: #003970;
}

.bg-blue {
  background-color: #0293A7;
}

.bg-primary {
  background-color: #354B54;
}

.text-white {
  color: #ffffff;
}

.text-dark {
  color: #454B4D;
}

img {
  border: 0;
  height: auto;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  vertical-align: middle;
}
img.img-full {
  width: 100%;
}

img[data-src] {
  opacity: 0;
}

img.loaded {
  -webkit-transition: opacity .5s linear 0.2s;
  -o-transition: opacity .5s linear 0.2s;
  transition: opacity .5s linear 0.2s;
  opacity: 1;
}

/*------------------------------------|
|	Content Wrap                        |
|------------------------------------*/
/*---- Limits width of content, adds side padding, & allows background colours to extend to screen edge ----*/
.section-container {
  max-width: 1480px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.section-container {
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 360px) and (max-width: 1480px) {
  .section-container {
    padding-left: calc( 15px + 39 * (100vw - 360px) / 1120 );
    padding-right: calc( 15px + 39 * (100vw - 360px) / 1120 );
  }
}
@media (min-width: 1480px) {
  .section-container {
    padding-left: 54px;
    padding-right: 54px;
  }
}
.section-container.fluid {
  max-width: 1640px;
}
@media (max-width: 767px) {
  .section-container {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
.section-container.center {
  text-align: center;
}
.section-container.half {
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 360px) and (max-width: 1480px) {
  .section-container.half {
    padding-left: calc( 15px + 10 * (100vw - 360px) / 1120 );
    padding-right: calc( 15px + 10 * (100vw - 360px) / 1120 );
  }
}
@media (min-width: 1480px) {
  .section-container.half {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.section-container.maxWidth--1240 {
  max-width: 1240px;
}

.space-footer__details {
  padding: 85px 0px 60px;
  background-color: #F7F4F4;
}
@media (max-width: 1023px) {
  .space-footer__details {
    padding: 40px 0px 16px;
  }
}

.space-footer__logo {
  width: 300px;
}
.space-footer__logo svg {
  width: 178px;
}
.space-footer__logo img {
  width: 178px;
}

.space-footer__title {
  color: #000000;
  margin-bottom: 14px;
  font-weight: 500;
}

.space-footer__text {
  font-size: 12px;
  margin-bottom: 14px;
  color: #707070;
}

.space-footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1023px) {
  .space-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.space-footer__box {
  padding: 14px 16px;
  position: relative;
  width: 180px;
  margin-right: 60px;
}
@media (max-width: 1023px) {
  .space-footer__box {
    display: none;
  }
}
.space-footer__box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 16px;
  width: 40px;
  height: 5px;
  background-color: #FFBB00;
}

.space-footer__box--mobile {
  display: none;
  position: relative;
  margin-top: 20px;
  padding-top: 24px;
}
@media (max-width: 1023px) {
  .space-footer__box--mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
.space-footer__box--mobile::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 40px;
  height: 5px;
  background-color: #FFBB00;
}

.space-footer__social__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.space-footer__social__icon svg {
  margin-right: 10px;
}
@media (max-width: 599px) {
  .space-footer__social__icon svg {
    margin-right: 6px;
  }
}
.space-footer__social__icon img {
  margin-right: 10px;
  width: 15px;
}
@media (max-width: 599px) {
  .space-footer__social__icon img {
    margin-right: 6px;
  }
}

.space-footer__box--mobile__contact {
  margin-right: 30px;
}
@media (max-width: 599px) {
  .space-footer__box--mobile__contact {
    margin-right: 15px;
  }
}

.space-footer__copyright {
  background-color: #354B54;
}

.space-footer__copyright__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  padding: 18px 0px;
}

.space-footer__date {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.space-footer__by {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.space-footer__by svg {
  margin-left: 10px;
}

.space-btn {
  background-color: #FFBB00;
  color: #ffffff;
  padding: 12px 35px 12px 18px;
  font-size: 17px;
  font-weight: 600;
  position: relative;
}
.space-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  -webkit-transform: translateY(-45%);
      -ms-transform: translateY(-45%);
          transform: translateY(-45%);
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 11px solid #ffffff;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

@media (min-width: 1280px) {
  .space-btn:hover::after {
    -webkit-transform: translate(4px, -45%);
        -ms-transform: translate(4px, -45%);
            transform: translate(4px, -45%);
  }
}
.skip-link {
  background-color: get-color(white);
  border: 2px solid color-get(primary);
  color: get-color(black);
  height: 1px;
  left: -1000px;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  text-align: left;
  top: -1000px;
  width: 1px;
  z-index: 5000;
}
.skip-link:active, .skip-link:focus, .skip-link:hover {
  height: auto;
  left: 0;
  overflow: visible;
  top: 0;
  width: auto;
}

/* generic burger items */
.burger-bg-1 {
  background: #f0f0f0;
}

.burger-bar {
  height: 2px;
  width: 30px;
  margin: 6px;
}

.burger-icon {
  cursor: pointer;
  display: inline-block;
}

.burger-wrapper {
  padding: 10%;
}

.burger-icon {
  /* Collapse */
}
.burger-icon .burger-bar-collapse-rise:nth-child(1) {
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}
.burger-icon .burger-bar-collapse-rise:nth-child(2) {
  width: 50%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition: transform 0.2s, width 0s;
}
.burger-icon .burger-bar-collapse-rise:nth-child(3) {
  width: 25%;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

.burger-icon.burger-collapse .burger-bar-collapse-rise:nth-child(2) {
  width: 0px;
}
.burger-icon.burger-collapse .burger-bar-collapse-rise:nth-child(3) {
  width: 70%;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

.burger-collapse .burger-bar-collapse-rise:nth-child(1) {
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translate(0px, 16px);
      -ms-transform: translate(0px, 16px);
          transform: translate(0px, 16px);
  -webkit-transition: 0.2s;
}

.burger-collapse .burger-bar-collapse-rise:nth-child(2) {
  -webkit-transition: width 0s 0.2s, -webkit-transform 0.2s;
  transition: width 0s 0.2s, -webkit-transform 0.2s;
  -o-transition: transform 0.2s, width 0s 0.2s;
  transition: transform 0.2s, width 0s 0.2s;
  transition: transform 0.2s, width 0s 0.2s, -webkit-transform 0.2s;
  -webkit-transform: translate(0px, 8px);
      -ms-transform: translate(0px, 8px);
          transform: translate(0px, 8px);
  width: 0px;
  -webkit-transition: transform 0.2s, width 0s 0.2s;
}

.rise .burger-bar-collapse-rise:nth-child(1) {
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translate(0px, 8px) rotate(-45deg);
      -ms-transform: translate(0px, 8px) rotate(-45deg);
          transform: translate(0px, 8px) rotate(-45deg);
  -webkit-transition: 0.2s;
}

.rise .burger-bar-collapse-rise:nth-child(3) {
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translate(0px, -8px) rotate(-135deg);
      -ms-transform: translate(0px, -8px) rotate(-135deg);
          transform: translate(0px, -8px) rotate(-135deg);
  -webkit-transition: 0.2s;
}

/*LIGHTBOX STYLE*/
.lightbox {
  display: none;
  position: fixed;
  z-index: 6000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.lightbox .lightbox-video {
  position: relative;
  width: 100%;
  padding-bottom: 56%;
}
.lightbox iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  right: 0;
}
.lightbox img {
  display: block;
  margin: 0 auto;
}
.lightbox .lightbox-close {
  position: absolute;
  display: block;
  top: 14px;
  right: 14px;
}
.lightbox .lightbox-close:hover {
  text-decoration: none;
}
.lightbox .lightbox-container {
  max-width: 1024px;
  margin: 200px auto 25px;
}

.space-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 86px;
  z-index: 4000;
  background-color: #ffffff;
  -webkit-transition: top .25s ease-in-out;
  -o-transition: top .25s ease-in-out;
  transition: top .25s ease-in-out;
}

.space-header__wrapper {
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}
.space-header__wrapper .main-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 86px;
}
.space-header__wrapper .main-menu__logo svg {
  width: 178px;
}
.space-header__wrapper .main-menu__logo img {
  width: 178px;
}
@media (max-width: 1279px) {
  .space-header__wrapper .main-menu__menu {
    display: none;
  }
}
.space-header__wrapper .main-menu__menu ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  list-style: none;
  margin: 0px;
  height: 86px;
}
.space-header__wrapper .main-menu__menu li {
  padding: 20px 9px;
  text-align: left;
}
.space-header__wrapper .main-menu__menu li a {
  padding: 12px 16px;
}
.space-header__wrapper .main-menu__menu li:last-child {
  padding-right: 0px;
}
.space-header__wrapper .main-menu__menu li:last-child a {
  background-color: #FFBB00;
  color: #ffffff;
}
.space-header__wrapper .menu-item-has-children {
  position: relative;
}
.space-header__wrapper .menu-item-has-children::after {
  content: url("data:image/svg+xml,%3Csvg fill='%23FFBB00' width='10' height='10' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath data-name='Polygon 39' d='M5 10L0 0h10z'/%3E%3C/svg%3E");
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.space-header__wrapper .menu-item-has-children ul {
  position: absolute;
  width: 100%;
  top: 100%;
  height: auto;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 0px;
  display: none;
  z-index: 4000;
}
.space-header__wrapper .menu-item-has-children li {
  padding: 0px 27px;
}
.space-header__wrapper .menu-item-has-children li a {
  color: #ffffff;
  padding: 6px 0px;
  position: relative;
  white-space: nowrap;
}
.space-header__wrapper .menu-item-has-children li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  visibility: visible;
  width: 0;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.space-header__wrapper .menu-item-has-children li a:hover::before {
  visibility: visible;
  width: 100%;
}
.space-header__wrapper .menu-item-has-children li:first-child {
  padding-top: 15px;
}
.space-header__wrapper .menu-item-has-children li:last-child {
  padding-right: 9px;
  padding-bottom: 15px;
}
.space-header__wrapper .menu-item-has-children li:last-child a {
  background-color: transparent;
}
.space-header__wrapper .menu-item-has-children:hover::after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
  top: 37%;
}

.subNav__wrapper {
  display: none;
}

.subNav__wrapper {
  display: block;
  position: absolute;
  background: #354B54;
  width: 100%;
  z-index: 3000;
}

.doctor-nav--mobile {
  display: none;
}
@media (max-width: 1279px) {
  .doctor-nav--mobile {
    display: block;
    position: fixed;
    z-index: 3000;
    top: 86px;
    width: 100%;
    height: 100%;
  }
}

.doctor-nav--mobile {
  display: none;
  background-color: #354B54;
  color: #ffffff;
}

.doctor-nav-mobile__ul__wrapper {
  overflow: scroll;
  position: relative;
  height: 100%;
}
.doctor-nav-mobile__ul__wrapper ul {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  list-style: none;
  padding-left: 0px;
}
.doctor-nav-mobile__ul__wrapper ul li {
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Open Sans Condensed', sans-serif;
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.doctor-nav-mobile__ul__wrapper ul a {
  padding: 8px 16px;
  font-size: 22px;
}
@media (max-width: 839px) {
  .doctor-nav-mobile__ul__wrapper ul a {
    font-size: 18px;
  }
}
.doctor-nav-mobile__ul__wrapper .menu-item-has-children a {
  position: relative;
}
.doctor-nav-mobile__ul__wrapper .menu-item-has-children a::after {
  content: url("data:image/svg+xml,%3Csvg fill='%23FFBB00' width='10' height='10' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath data-name='Polygon 39' d='M5 10L0 0h10z'/%3E%3C/svg%3E");
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
.doctor-nav-mobile__ul__wrapper .menu-item-has-children ul {
  display: none;
  position: relative;
  -webkit-transform: unset;
      -ms-transform: unset;
          transform: unset;
  left: unset;
  top: unset;
}
.doctor-nav-mobile__ul__wrapper .menu-item-has-children ul a::after {
  content: url("");
}

/* generic burger items */
.quilter-nav__btn__wrapper {
  display: none;
}
@media (max-width: 1279px) {
  .quilter-nav__btn__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.burger-bg-1 {
  background: #000000;
}

.burger-bar {
  height: 2px;
  width: 30px;
  margin: 6px;
}

.burger-icon {
  cursor: pointer;
  display: inline-block;
}

.burger-wrapper {
  padding: 10%;
}

.burger-icon {
  /* Collapse */
}
.burger-icon .burger-bar-collapse-rise:nth-child(1) {
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}
.burger-icon .burger-bar-collapse-rise:nth-child(2) {
  width: 50%;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition: transform 0.2s, width 0s;
}
.burger-icon .burger-bar-collapse-rise:nth-child(3) {
  width: 25%;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

.burger-icon.burger-collapse .burger-bar-collapse-rise:nth-child(2) {
  width: 0px;
}
.burger-icon.burger-collapse .burger-bar-collapse-rise:nth-child(3) {
  width: 70%;
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transition: 0.2s;
}

.burger-collapse .burger-bar-collapse-rise:nth-child(1) {
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translate(0px, 16px);
      -ms-transform: translate(0px, 16px);
          transform: translate(0px, 16px);
  -webkit-transition: 0.2s;
}

.burger-collapse .burger-bar-collapse-rise:nth-child(2) {
  -webkit-transition: width 0s 0.2s, -webkit-transform 0.2s;
  transition: width 0s 0.2s, -webkit-transform 0.2s;
  -o-transition: transform 0.2s, width 0s 0.2s;
  transition: transform 0.2s, width 0s 0.2s;
  transition: transform 0.2s, width 0s 0.2s, -webkit-transform 0.2s;
  -webkit-transform: translate(0px, 8px);
      -ms-transform: translate(0px, 8px);
          transform: translate(0px, 8px);
  width: 0px;
  -webkit-transition: transform 0.2s, width 0s 0.2s;
}

.rise .burger-bar-collapse-rise:nth-child(1) {
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translate(0px, 8px) rotate(-45deg);
      -ms-transform: translate(0px, 8px) rotate(-45deg);
          transform: translate(0px, 8px) rotate(-45deg);
  -webkit-transition: 0.2s;
}

.rise .burger-bar-collapse-rise:nth-child(3) {
  -o-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translate(0px, -8px) rotate(-135deg);
      -ms-transform: translate(0px, -8px) rotate(-135deg);
          transform: translate(0px, -8px) rotate(-135deg);
  -webkit-transition: 0.2s;
}

.standard-row__wrapper {
  position: relative;
}
@media (max-width: 1279px) {
  .standard-row__wrapper {
    display: none;
  }
}

.standard-row__bg {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 1000;
}

.standard-row__img--bg {
  display: none;
}

.standard-row__picture {
  height: 320px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.standard-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2000;
}

.standard-row__box--split {
  width: 54%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.standard-row__main-title {
  max-width: 300px;
}

.standard-row__main-title__h2 {
  position: relative;
}

.standard-row__main-title__underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 130%;
  height: 1px;
}

.standard-row__box--copy {
  width: 46%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0px 20px 63px;
}

.standard-row__title {
  margin-bottom: 25px;
}

.standard-row__text {
  margin-bottom: 22px;
  font-size: 14px;
}

.standard-row__wrapper--mobile {
  display: none;
}
@media (max-width: 1279px) {
  .standard-row__wrapper--mobile {
    display: block;
  }
}

.standard-row__box--copy--mobile {
  padding: 35px 0px;
}

.standard-row__title--mobile {
  margin-bottom: 25px;
}

.standard-row__text--mobile {
  margin-bottom: 20px;
}

.standard-row__main-title__h2--mobile {
  position: relative;
  display: inline-block;
  margin-left: calc( 15px + 39 * (100vw - 360px) / 1120 );
}
@media (max-width: 767px) {
  .standard-row__main-title__h2--mobile {
    margin-left: 20px !important;
  }
}

.standard-row__main-title__underline--mobile {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 260px;
  height: 1px;
}

.standard-row__wrapper.revert .standard-row__box--split {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.standard-row__wrapper.revert .standard-row__box--copy {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
  padding: 20px 63px 20px 0px;
}
.standard-row__wrapper.revert .standard-row__bg {
  position: absolute;
  left: 0;
  right: unset;
  top: 0;
  width: 50%;
  height: 100%;
}
.standard-row__wrapper.revert .standard-row__main-title {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  text-align: right;
}
.standard-row__wrapper.revert .standard-row__img {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
}
.standard-row__wrapper.revert .standard-row__main-title__underline {
  left: unset;
  right: 0;
}

.space-carousel__wrapper {
  max-width: 1600px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.space-carousel .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.space-carousel .slick-slide {
  overflow: hidden;
}

.space-carousel__box {
  position: relative;
  text-align: center;
}
.space-carousel__box img {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  width: 100%;
}

.space-carousel__title {
  margin-bottom: 20px;
}

.space-carousel__text {
  margin-bottom: 14px;
}

.space-carousel__wrapper .slick-prev,
.space-carousel__wrapper .slick-next {
  font-size: 0;
  cursor: pointer;
  outline: 0;
  border: 0;
}
.space-carousel__wrapper .slick-prev {
  position: absolute;
  left: 0;
  height: 100%;
  width: 35px;
  background-color: #FFBB00;
  z-index: 2000;
}
.space-carousel__wrapper .slick-prev::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #ffffff;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.space-carousel__wrapper .slick-next {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 35px;
  background-color: #FFBB00;
  z-index: 2000;
}
.space-carousel__wrapper .slick-next::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #ffffff;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.space-carousel__wrapper .slick-prev:hover::after {
  -webkit-transform: translate(-8px, -50%);
      -ms-transform: translate(-8px, -50%);
          transform: translate(-8px, -50%);
}
.space-carousel__wrapper .slick-next:hover::after {
  -webkit-transform: translate(-2px, -50%);
      -ms-transform: translate(-2px, -50%);
          transform: translate(-2px, -50%);
}

@media (min-width: 1280px) {
  .space-carousel__box:hover .space-carousel__overlay,
  .space-carousel__box:focus .space-carousel__overlay {
    height: 100%;
  }
  .space-carousel__box:hover img,
  .space-carousel__box:focus img {
    -webkit-transform: scale(1.01);
        -ms-transform: scale(1.01);
            transform: scale(1.01);
  }
  .space-carousel__box:hover .space-carousel__overlay__content,
  .space-carousel__box:focus .space-carousel__overlay__content {
    opacity: 1;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease;
  }
}
.space-carousel__overlay {
  color: #ffffff;
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  -webkit-transition: .5s ease;
  -o-transition: .5s ease;
  transition: .5s ease;
  width: 100%;
  height: 0px;
  opacity: 0.8;
}
@media (max-width: 1279px) {
  .space-carousel__overlay {
    height: 100%;
  }
}

.space-carousel__overlay__content {
  opacity: 0;
  padding: 20px;
  -webkit-transition: .9s ease;
  -o-transition: .9s ease;
  transition: .9s ease;
}
@media (max-width: 1279px) {
  .space-carousel__overlay__content {
    opacity: 1;
  }
}

.overlap-image__wrapper {
  position: relative;
}

.overlap-image {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 979px) {
  .overlap-image {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.overlap-image__copy {
  width: 50%;
  padding-right: 85px;
  margin: 50px 0px;
}
@media (max-width: 979px) {
  .overlap-image__copy {
    width: 100%;
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
    margin: 34px 0px;
    padding-right: 0px;
  }
}

.overlap-image__img {
  position: relative;
  width: 50%;
  padding: 65px 0px;
  z-index: 2000;
}
@media (max-width: 979px) {
  .overlap-image__img {
    width: 100%;
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    padding: 45px 0px;
    text-align: center;
  }
}
@media (max-width: 599px) {
  .overlap-image__img {
    padding: 35px 0px;
  }
}
@media (max-width: 599px) {
  .overlap-image__img img {
    height: 200px;
  }
}

.overlap-image__date {
  margin-bottom: 23px;
}

.overlap-image__title {
  margin-bottom: 25px;
}

.overlap-image__text {
  margin-bottom: 25px;
}

.overlap-image__bg {
  position: absolute;
  right: 0;
  top: 0;
  width: 43%;
  height: 100%;
  z-index: 1000;
}
@media (max-width: 979px) {
  .overlap-image__bg {
    width: 70%;
    height: 460px;
  }
}
@media (max-width: 599px) {
  .overlap-image__bg {
    height: 270px;
  }
}

.overlap-image__wrapper.revert .overlap-image__copy {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
  padding-right: 0px;
  padding-left: 80px;
}
@media (max-width: 979px) {
  .overlap-image__wrapper.revert .overlap-image__copy {
    padding-left: 0px;
  }
}
.overlap-image__wrapper.revert .overlap-image__img {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
  text-align: end;
}
@media (max-width: 979px) {
  .overlap-image__wrapper.revert .overlap-image__img {
    text-align: center;
  }
}
.overlap-image__wrapper.revert .overlap-image__bg {
  right: unset;
  left: 0;
}

.two-image__container {
  position: relative;
}

.two-image__main-title {
  position: absolute;
  left: 0;
  top: 0;
}
@media (max-width: 1279px) {
  .two-image__main-title {
    position: relative;
    max-width: 808px;
    margin: 0 auto;
  }
  .two-image__main-title h2 {
    margin-left: 20px;
    position: relative;
    padding-bottom: 10px;
  }
}

.two-image__box__copy--top {
  padding: 55px 20px 55px 40px;
}
@media (max-width: 767px) {
  .two-image__box__copy--top {
    padding: 35px 0px 35px 0px;
  }
}

.two-image__box__copy--bottom {
  padding: 55px 20px 55px 0px;
}
@media (max-width: 767px) {
  .two-image__box__copy--bottom {
    padding: 35px 0px 35px 0px;
  }
}

@media (max-width: 767px) {
  .two-image__inner--down .two-image__box__bg {
    -webkit-box-ordinal-group: 1 !important;
    -webkit-order: 0 !important;
        -ms-flex-order: 0 !important;
            order: 0 !important;
  }
  .two-image__inner--down .two-image__box {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

.two-image__main-title__underline {
  height: 1px;
  width: 347px;
  margin-top: 5px;
}
@media (max-width: 1379px) {
  .two-image__main-title__underline {
    width: 287px;
  }
}
@media (max-width: 1279px) {
  .two-image__main-title__underline {
    position: absolute;
    bottom: -25px;
    left: 0;
  }
}

.two-image {
  max-width: 848px;
  margin: 0 auto;
}
@media (max-width: 1379px) {
  .two-image {
    max-width: 808px;
  }
}

.two-image__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .two-image__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 767px) {
  .two-image__box__bg {
    height: 375px;
  }
}

.two-image__box {
  width: 50%;
}
@media (max-width: 767px) {
  .two-image__box {
    width: 100%;
  }
}

.two-image__box {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.two-image__box__title {
  margin-bottom: 20px;
}

.two-image__box__text {
  margin-bottom: 20px;
}

.two-image__box__text--sm {
  margin-bottom: 20px;
}

.large-image__wrapper {
  position: relative;
}
@media (max-width: 767px) {
  .large-image__wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.large-image {
  width: 40%;
  padding: 120px 0px;
}
@media (max-width: 1279px) {
  .large-image {
    width: 50%;
    padding: 60px 0px;
  }
}
@media (max-width: 767px) {
  .large-image {
    width: 100%;
    padding: 30px 0px;
  }
}

@media (max-width: 767px) {
  .large-image__container {
    -webkit-box-ordinal-group: 3;
    -webkit-order: 2;
        -ms-flex-order: 2;
            order: 2;
  }
}

.large-image__box {
  margin-right: 80px;
}
@media (max-width: 1279px) {
  .large-image__box {
    margin-right: 40px;
  }
}

.large-image__bg {
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  max-width: 1100px;
  height: 100%;
}
@media (max-width: 1279px) {
  .large-image__bg {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .large-image__bg {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    position: relative;
    width: 100%;
    height: 375px;
  }
}

.large-image__date {
  margin-bottom: 20px;
}

.large-image__title {
  margin-bottom: 25px;
}

.large-image__text {
  margin-bottom: 25px;
}

.large-image__wrapper.revert .large-image__bg {
  right: unset;
  left: 0;
  width: 60%;
}
@media (max-width: 1279px) {
  .large-image__wrapper.revert .large-image__bg {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .large-image__wrapper.revert .large-image__bg {
    -webkit-box-ordinal-group: 1;
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
    position: relative;
    width: 100%;
    height: 375px;
  }
}
.large-image__wrapper.revert .large-image {
  margin-left: auto;
}
.large-image__wrapper.revert .large-image__box {
  margin-right: 0px;
  margin-left: 60px;
}
@media (max-width: 1279px) {
  .large-image__wrapper.revert .large-image__box {
    margin-left: 40px;
  }
}
@media (max-width: 767px) {
  .large-image__wrapper.revert .large-image__box {
    margin-left: 0px;
  }
}

.three-column-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -8px;
  background-color: #ffffff;
}
@media (max-width: 1023px) {
  .three-column-link {
    display: block;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.three-column-link__box {
  width: 33.33%;
  padding: 0px 8px;
  margin-bottom: 40px;
  outline: 0;
}

.three-column-link__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.three-column-link__copy {
  color: #ffffff;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 50px 25px 40px;
}

.three-column-link__title {
  margin-bottom: 25px;
}

.three-column-link__text {
  margin-bottom: 25px;
}

.three-column-link__img img {
  width: 100%;
}

.three-column-link__icon svg {
  position: relative;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

@media (min-width: 1280px) {
  .three-column-link__box:hover svg {
    -webkit-transform: translateX(6px);
        -ms-transform: translateX(6px);
            transform: translateX(6px);
  }
}
.three-column-link .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.three-column-link .slick-slide div {
  height: 100%;
}
.three-column-link .slick-slide .three-column-link__img {
  height: auto;
}
.three-column-link .slick-slide .three-column-link__box {
  height: 100%;
}
.three-column-link .slick-slide .three-column-link__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.three-column-static {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0px -8px;
  background-color: #ffffff;
}
@media (max-width: 1023px) {
  .three-column-static {
    display: block;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.three-column-static__box {
  width: 33.33%;
  padding: 0px 8px;
  margin-bottom: 40px;
  outline: 0;
}

.three-column-static__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  background-color: #454B4D;
}

.three-column-static__copy {
  color: #ffffff;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 25px;
}

.three-column-static__title {
  padding-bottom: 22px;
  margin-bottom: 22px;
  position: relative;
}

.three-column-static-title__underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px !important;
}

.three-column-static__img img {
  width: 100%;
}

.three-column-static__icon svg {
  position: relative;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
}

@media (min-width: 1280px) {
  .three-column-static__box:hover svg {
    -webkit-transform: translateX(6px);
        -ms-transform: translateX(6px);
            transform: translateX(6px);
  }
}
.three-column-static .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.three-column-static .slick-slide {
  outline: 0;
}
.three-column-static .slick-slide div {
  height: 100%;
}
.three-column-static .slick-slide .three-column-static__img {
  height: auto;
}
.three-column-static .slick-slide .three-column-static__box {
  height: 100%;
}
.three-column-static .slick-slide .three-column-static__icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.map-billboard__map {
  width: 100%;
  height: 450px;
}
@media (max-width: 767px) {
  .map-billboard__map {
    height: 300px;
  }
}
.map-billboard__map .gm-style-iw.gm-style-iw-c {
  width: 250px;
}
.map-billboard__map .gm-style-iw.gm-style-iw-c a {
  text-decoration: underline;
}

.accordion__wrapper {
  padding: 52px 0px 42px;
}

.accordion__title {
  color: #ffffff;
}
.accordion__title h2 {
  position: relative;
  padding-bottom: 18px;
  margin-bottom: 40px;
}
.accordion__title .accordion-title__underline {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 40px;
  height: 5px;
}

.accordion__box {
  background-color: #ffffff;
  margin-bottom: 16px;
}

.accordion__inner {
  overflow: hidden;
  display: none;
}
.accordion__inner.show-accordion {
  /*display: block;*/
}

.accordion__box__title {
  position: relative;
  display: block;
  padding: 19px 30px 19px 50px;
}
@media (max-width: 599px) {
  .accordion__box__title {
    padding: 19px 10px 19px 30px;
  }
}
.accordion__box__title::after {
  content: url("data:image/svg+xml,%3Csvg fill='%23FFBB00' width='16' height='16' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10'%3E%3Cpath d='M10 5L0 10V0l10 5z'/%3E%3C/svg%3E");
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition-duration: 0.4s;
       -o-transition-duration: 0.4s;
          transition-duration: 0.4s;
}
@media (max-width: 599px) {
  .accordion__box__title::after {
    left: 7px;
  }
}
.accordion__box__title.rotate-accordion::after {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  top: 18px;
}

.accordion__ul {
  list-style: none;
  padding: 19px 30px 19px 50px;
  margin: 0px;
}
@media (max-width: 599px) {
  .accordion__ul {
    padding: 19px 10px 19px 30px;
  }
}

.accordion__li h3 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #FFBB00;
}
.accordion__li p {
  margin-bottom: 20px;
}

.single-column-text__wrapper {
  max-width: 902px;
  margin: 0 auto;
}

.single-column-text {
  padding: 0px 20px;
}
.single-column-text h1, .single-column-text h2, .single-column-text h3, .single-column-text h4, .single-column-text h5, .single-column-text h6 {
  margin-bottom: 20px;
}
.single-column-text p {
  margin-bottom: 20px;
}

.price-table__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .price-table__inner {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
}

.price-table__heading {
  margin-bottom: 20px;
}

.price-table__text {
  width: 65%;
  padding-left: 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 767px) {
  .price-table__text {
    width: 100%;
    padding-left: 0px;
  }
}
.price-table__text p {
  margin-bottom: 20px;
}

.price-table__table {
  width: 35%;
  border-top: 1px solid #FFBB00;
  border-bottom: 1px solid #FFBB00;
  font-size: 14px;
  padding: 10px 0px;
}
@media (max-width: 767px) {
  .price-table__table {
    width: 100%;
    margin-bottom: 40px;
  }
}
.price-table__table .price-table__place {
  padding: 12px 20px 12px 0px;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .price-table__table .price-table__place {
    white-space: unset;
  }
}
.price-table__table .price-table__price {
  padding: 12px 20px 12px 20px;
  text-align: right;
}

.home-billboard__wrapper {
  position: relative;
}

.home-billboard__top {
  padding: 66px 0px;
  color: #ffffff;
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.home-billboard__overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #009476;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 148, 118, 0.6516981793)), color-stop(15%, rgba(10, 255, 205, 0.2987570028)), color-stop(55%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(0, 148, 118, 0.6516981793) 0%, rgba(10, 255, 205, 0.2987570028) 15%, rgba(255, 255, 255, 0) 55%);
  background: -o-linear-gradient(left, rgba(0, 148, 118, 0.6516981793) 0%, rgba(10, 255, 205, 0.2987570028) 15%, rgba(255, 255, 255, 0) 55%);
  background: linear-gradient(90deg, rgba(0, 148, 118, 0.6516981793) 0%, rgba(10, 255, 205, 0.2987570028) 15%, rgba(255, 255, 255, 0) 55%);
}

.home-billboard__top__text {
  position: relative;
  max-width: 544px;
}

.home-billboard__top__text__inner {
  padding-left: 120px;
  position: relative;
}
@media (max-width: 767px) {
  .home-billboard__top__text__inner {
    padding-left: 0px;
  }
}

.home-billboard__top__title {
  margin-bottom: 28px;
}
.home-billboard__top__title h1 {
  font-size: 55px;
  line-height: 60px;
}
@media (max-width: 839px) {
  .home-billboard__top__title h1 {
    font-size: 38px;
    line-height: 42px;
  }
}

.home-billboard__top__heading--bottom {
  padding-left: 120px;
}
@media (max-width: 839px) {
  .home-billboard__top__heading--bottom {
    padding-left: 0px;
  }
}

.home-billboard__top__copy {
  margin-bottom: 22px;
  font-size: 18px;
}

.home-billboard__top__social {
  position: absolute;
  left: 0;
  bottom: 0;
}
@media (max-width: 767px) {
  .home-billboard__top__social {
    display: none;
  }
}

.home-billboard__top__instagram {
  display: block;
  text-align: center;
  width: 30px;
  margin-bottom: 8px;
}
.home-billboard__top__instagram::after {
  content: url("data:image/svg+xml,%3Csvg fill='%23FFFFFF' width='18' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 28 28'%3E%3Cg data-name='Group 113'%3E%3Cg data-name='Group 112'%3E%3Cpath data-name='Path 76' d='M14 2.52c3.73 0 4.18 0 5.66.08a7.78 7.78 0 012.6.49 4.61 4.61 0 012.65 2.65 8 8 0 01.49 2.6c.06 1.48.08 1.92.08 5.66s0 4.18-.08 5.66a8 8 0 01-.49 2.6 4.61 4.61 0 01-2.65 2.65 8 8 0 01-2.6.49c-1.48.06-1.92.08-5.66.08s-4.18 0-5.66-.08a8 8 0 01-2.6-.49 4.61 4.61 0 01-2.65-2.65 7.78 7.78 0 01-.49-2.6c-.06-1.48-.08-1.92-.08-5.66s0-4.18.08-5.66a7.73 7.73 0 01.49-2.6 4.61 4.61 0 012.65-2.65 7.78 7.78 0 012.6-.49c1.48-.06 1.92-.08 5.66-.08M14 0c-3.8 0-4.28 0-5.77.09a10.16 10.16 0 00-3.4.65A7.11 7.11 0 00.74 4.83a10.16 10.16 0 00-.65 3.4C0 9.72 0 10.2 0 14s0 4.28.09 5.77a10.16 10.16 0 00.65 3.4 7.15 7.15 0 004.09 4.1 10.68 10.68 0 003.4.65C9.72 28 10.2 28 14 28s4.28 0 5.77-.08a10.68 10.68 0 003.4-.65 7.15 7.15 0 004.09-4.1 10.16 10.16 0 00.65-3.4C28 18.28 28 17.8 28 14s0-4.28-.09-5.77a10.16 10.16 0 00-.65-3.4A7.11 7.11 0 0023.17.74a10.16 10.16 0 00-3.4-.65C18.28 0 17.8 0 14 0'/%3E%3Cpath data-name='Path 77' d='M14 6.81A7.19 7.19 0 1021.19 14 7.19 7.19 0 0014 6.81m0 11.86A4.67 4.67 0 1118.67 14 4.67 4.67 0 0114 18.67'/%3E%3Cpath data-name='Path 78' d='M23.15 6.53a1.68 1.68 0 11-1.68-1.68 1.68 1.68 0 011.68 1.68'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.home-billboard__top__facebook {
  display: block;
  text-align: center;
  width: 30px;
}
.home-billboard__top__facebook::after {
  content: url("data:image/svg+xml,%3Csvg fill='%23FFFFFF' width='10' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 28'%3E%3Cg data-name='Group 231'%3E%3Cpath data-name='Path 113' d='M3.39 28h5.77V14.21h4l.44-4.84H9.16V6.61c0-1.14.23-1.61 1.33-1.61h3.12V0h-4C5.32 0 3.39 1.89 3.39 5.51v3.86h-3v4.9h3z'/%3E%3C/g%3E%3C/svg%3E");
}

.home-billboard__bottom {
  position: relative;
}

.home-billboard__bottom__text {
  color: #ffffff;
  width: 50%;
  padding: 40px 100px 60px 0px;
}
@media (max-width: 1279px) {
  .home-billboard__bottom__text {
    width: 100%;
    padding-right: 0px;
    padding-bottom: 310px;
  }
}
.home-billboard__bottom__text h1, .home-billboard__bottom__text h2, .home-billboard__bottom__text h3, .home-billboard__bottom__text h4, .home-billboard__bottom__text h5, .home-billboard__bottom__text h6 {
  margin-bottom: 20px;
}
.home-billboard__bottom__text p {
  font-size: 14px;
}

.home-billboard__bottom__bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
}
@media (max-width: 1279px) {
  .home-billboard__bottom__bg {
    top: unset;
    right: unset;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 250px;
  }
}

.home-billboard__chat {
  width: 76px;
  height: 52px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #FFBB00;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1279px) {
  .home-billboard__chat {
    display: none;
  }
}
.home-billboard__chat::after {
  margin-top: 10px;
  content: url("data:image/svg+xml,%3Csvg fill='%23FFFFFF' width='32' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31 28'%3E%3Cpath d='M26.61 0H4.4A4.12 4.12 0 00.26 4.13v13.64a4.14 4.14 0 004 4.11H17.39a1.13 1.13 0 01.64.2l8.21 5.69.32.21v-6.07c.27 0 .52-.05.77-.1a4.14 4.14 0 003.41-4.08V4.16A4.12 4.12 0 0026.61 0zM29 17.54a2.73 2.73 0 010 .57 2.39 2.39 0 01-2.34 2H24.8v4.5l-.33-.22c-2-1.36-3.91-2.73-5.87-4.07a1.24 1.24 0 00-.64-.2H4.27A2.4 2.4 0 012 17.55V4.35A1.61 1.61 0 012 4a2.4 2.4 0 012.57-2.21h22.19A2.39 2.39 0 0129 4.35z'/%3E%3Cpath d='M8.44 6.33h14.15v1.74H8.44zM8.43 10.14h14.15v1.73H8.43zM8.43 13.95h14.15v1.73H8.43z'/%3E%3C/svg%3E");
}

.home-billboard__bottom__bg .home-billboard__carousel {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.home-billboard__bottom__bg .slick-list {
  height: 100%;
}
.home-billboard__bottom__bg .slick-slide div {
  height: 100%;
}
.home-billboard__bottom__bg .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.home-billboard__bottom__bg .slick-prev {
  display: none !important;
}
.home-billboard__bottom__bg .slick-next {
  display: none !important;
}
.home-billboard__bottom__bg .home-billboard__slide {
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.home-billboard__bottom__bg .previous-caro {
  position: absolute;
  right: 100%;
  bottom: 0;
  background-color: #ffffff;
}
@media (max-width: 1279px) {
  .home-billboard__bottom__bg .previous-caro {
    bottom: unset;
    right: unset;
    top: -18px;
    left: 32px;
  }
}
@media (max-width: 767px) {
  .home-billboard__bottom__bg .previous-caro {
    left: 20px;
  }
}
.home-billboard__bottom__bg .previous-caro .nav-previous {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 11px solid #354B54;
}
.home-billboard__bottom__bg .next-caro {
  position: absolute;
  left: 0px;
  bottom: 0;
  background-color: #C7BDBD;
}
@media (max-width: 1279px) {
  .home-billboard__bottom__bg .next-caro {
    bottom: unset;
    top: -18px;
    left: 68px;
  }
}
@media (max-width: 767px) {
  .home-billboard__bottom__bg .next-caro {
    left: 56px;
  }
}
.home-billboard__bottom__bg .next-caro .nav-next {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 11px solid #ffffff;
}
.home-billboard__bottom__bg .home-billboard__nav {
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
}

.secondary-billboard__top__title {
  position: relative;
  margin-bottom: 70px;
  padding: 90px 140px 30px 0px;
}
@media (max-width: 1279px) {
  .secondary-billboard__top__title {
    padding: 30px 0px 26px 0px;
    margin-bottom: 26px;
  }
}
.secondary-billboard__top__title h1 {
  font-size: 55px;
  line-height: 60px;
}
@media (max-width: 839px) {
  .secondary-billboard__top__title h1 {
    font-size: 38px;
    line-height: 42px;
  }
}

.secondary-billboard__top__heading--bottom {
  margin-left: 30px;
}

.secondary-billboard__top__underline {
  position: absolute;
  bottom: 0;
  left: 30px;
  width: 110%;
  height: 1px;
  background-color: #ffffff;
  z-index: 2000;
}

.secondary-billboard__wrapper {
  position: relative;
}

.secondary-billboard__bottom {
  position: relative;
}

.secondary-billboard__bottom__text {
  color: #ffffff;
  width: 50%;
}
@media (max-width: 1279px) {
  .secondary-billboard__bottom__text {
    width: 100%;
    padding-right: 0px;
    padding-top: 340px;
  }
}
@media (max-width: 599px) {
  .secondary-billboard__bottom__text {
    padding-top: 270px;
  }
}

.secondary-billboard__bottom__bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
}
@media (max-width: 1279px) {
  .secondary-billboard__bottom__bg {
    bottom: unset;
    right: unset;
    top: 0;
    left: 0;
    width: 100%;
    height: 340px;
  }
}
@media (max-width: 599px) {
  .secondary-billboard__bottom__bg {
    height: 270px;
  }
}

.secondary-billboard__bottom__copy {
  margin-bottom: 30px;
  font-size: 18px;
  padding: 0px 140px 150px 0px;
}
@media (max-width: 1279px) {
  .secondary-billboard__bottom__copy {
    padding: 0px 0px 60px 0px;
    margin-bottom: 0px;
  }
}
.secondary-billboard__bottom__copy p {
  margin-bottom: 30px;
}

.secondary-billboard__chat {
  width: 76px;
  height: 52px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #FFBB00;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1279px) {
  .secondary-billboard__chat {
    display: none;
  }
}
.secondary-billboard__chat::after {
  margin-top: 10px;
  content: url("data:image/svg+xml,%3Csvg fill='%23FFFFFF' width='32' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31 28'%3E%3Cpath d='M26.61 0H4.4A4.12 4.12 0 00.26 4.13v13.64a4.14 4.14 0 004 4.11H17.39a1.13 1.13 0 01.64.2l8.21 5.69.32.21v-6.07c.27 0 .52-.05.77-.1a4.14 4.14 0 003.41-4.08V4.16A4.12 4.12 0 0026.61 0zM29 17.54a2.73 2.73 0 010 .57 2.39 2.39 0 01-2.34 2H24.8v4.5l-.33-.22c-2-1.36-3.91-2.73-5.87-4.07a1.24 1.24 0 00-.64-.2H4.27A2.4 2.4 0 012 17.55V4.35A1.61 1.61 0 012 4a2.4 2.4 0 012.57-2.21h22.19A2.39 2.39 0 0129 4.35z'/%3E%3Cpath d='M8.44 6.33h14.15v1.74H8.44zM8.43 10.14h14.15v1.73H8.43zM8.43 13.95h14.15v1.73H8.43z'/%3E%3C/svg%3E");
}

.secondary-billboard__bottom__bg .secondary-billboard__carousel {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.secondary-billboard__bottom__bg .slick-list {
  height: 100%;
}
.secondary-billboard__bottom__bg .slick-slide div {
  height: 100%;
}
.secondary-billboard__bottom__bg .slick-track {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}
.secondary-billboard__bottom__bg .slick-prev {
  display: none !important;
}
.secondary-billboard__bottom__bg .slick-next {
  display: none !important;
}
.secondary-billboard__bottom__bg .secondary-billboard__slide {
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
.secondary-billboard__bottom__bg .previous-caro-secondary {
  position: absolute;
  right: 100%;
  bottom: 0;
  background-color: #ffffff;
}
@media (max-width: 1279px) {
  .secondary-billboard__bottom__bg .previous-caro-secondary {
    bottom: unset;
    right: unset;
    top: -18px;
    left: 32px;
  }
}
@media (max-width: 767px) {
  .secondary-billboard__bottom__bg .previous-caro-secondary {
    left: 20px;
  }
}
.secondary-billboard__bottom__bg .previous-caro-secondary .nav-previous-secondary {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 11px solid #354B54;
}
.secondary-billboard__bottom__bg .next-caro-secondary {
  position: absolute;
  left: 0px;
  bottom: 0;
  background-color: #C7BDBD;
}
@media (max-width: 1279px) {
  .secondary-billboard__bottom__bg .next-caro-secondary {
    bottom: unset;
    top: -18px;
    left: 68px;
  }
}
@media (max-width: 767px) {
  .secondary-billboard__bottom__bg .next-caro-secondary {
    left: 56px;
  }
}
.secondary-billboard__bottom__bg .next-caro-secondary .nav-next-secondary {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 11px solid #ffffff;
}
.secondary-billboard__bottom__bg .secondary-billboard__nav {
  cursor: pointer;
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36px;
  height: 36px;
}
@media (max-width: 1279px) {
  .secondary-billboard__bottom__bg .secondary-billboard__nav {
    display: none !important;
  }
}
.secondary-billboard__bottom__bg .slick-dots {
  position: absolute;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding-left: 0px !important;
}
.secondary-billboard__bottom__bg .slick-dots {
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 360px) and (max-width: 1480px) {
  .secondary-billboard__bottom__bg .slick-dots {
    padding-left: calc( 15px + 39 * (100vw - 360px) / 1120 );
    padding-right: calc( 15px + 39 * (100vw - 360px) / 1120 );
  }
}
@media (min-width: 1480px) {
  .secondary-billboard__bottom__bg .slick-dots {
    padding-left: 54px;
    padding-right: 54px;
  }
}
@media (max-width: 1279px) {
  .secondary-billboard__bottom__bg .slick-dots {
    padding-right: 0px !important;
    width: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.secondary-billboard__bottom__bg .slick-dots button {
  font-size: 0px;
  background-color: transparent;
  border: 1px solid #ffffff;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  height: 16px;
  width: 16px;
  margin: 6px;
}
.secondary-billboard__bottom__bg .slick-dots .slick-active button {
  background-color: #ffffff;
}

.content-heavy__bottom {
  position: relative;
}
.content-heavy__bottom.bg-yellow .content-heavy__bottom__text {
  color: #454B4D;
}
.content-heavy__bottom.bg-yellow .content-heavy__table {
  width: 80%;
  border-top: 1px solid #354B54;
  border-bottom: 1px solid #354B54;
}
.content-heavy__bottom.bg-yellow .content-heavy__top__underline {
  background-color: #0293A7;
}

.content-heavy__top__title {
  position: relative;
  margin-bottom: 40px;
  padding: 90px 80px 15px 0px;
}
@media (max-width: 1279px) {
  .content-heavy__top__title {
    padding: 30px 0px 26px 0px;
    margin-bottom: 26px;
  }
}
.content-heavy__top__title h1 {
  font-size: 55px;
  line-height: 60px;
}
@media (max-width: 839px) {
  .content-heavy__top__title h1 {
    font-size: 38px;
    line-height: 42px;
  }
}

.content-heavy__top__underline {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 110%;
  height: 1px;
  z-index: 2000;
}

.content-heavy__wrapper {
  position: relative;
}

.content-heavy__bottom__text {
  color: #ffffff;
  width: 45%;
}
@media (max-width: 1279px) {
  .content-heavy__bottom__text {
    width: 100%;
    padding-right: 0px;
    padding-top: 340px;
  }
}
@media (max-width: 599px) {
  .content-heavy__bottom__text {
    padding-top: 270px;
  }
}

.content-heavy__bottom__bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 55%;
}
@media (max-width: 1279px) {
  .content-heavy__bottom__bg {
    bottom: unset;
    right: unset;
    top: 0;
    left: 0;
    width: 100%;
    height: 340px;
  }
}
@media (max-width: 599px) {
  .content-heavy__bottom__bg {
    height: 270px;
  }
}

.content-heavy__info {
  padding: 0px 80px 80px 0px;
}
@media (max-width: 1279px) {
  .content-heavy__info {
    padding: 0px 0px 40px 0px;
  }
}

.content-heavy__bottom__copy {
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 20px;
}
@media (max-width: 1279px) {
  .content-heavy__bottom__copy {
    margin-bottom: 0px;
  }
}
.content-heavy__bottom__copy p {
  margin-bottom: 30px;
}

.content-heavy__bottom__subtitle {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 10px;
}
@media (max-width: 1279px) {
  .content-heavy__bottom__subtitle {
    margin-bottom: 0px;
  }
}
.content-heavy__bottom__subtitle p {
  margin-bottom: 30px;
}

.content-heavy__pricing__heading {
  padding-bottom: 16px;
}

.content-heavy__chat {
  width: 76px;
  height: 52px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #FFBB00;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1279px) {
  .content-heavy__chat {
    display: none;
  }
}
.content-heavy__chat::after {
  margin-top: 10px;
  content: url("data:image/svg+xml,%3Csvg fill='%23FFFFFF' width='32' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31 28'%3E%3Cpath d='M26.61 0H4.4A4.12 4.12 0 00.26 4.13v13.64a4.14 4.14 0 004 4.11H17.39a1.13 1.13 0 01.64.2l8.21 5.69.32.21v-6.07c.27 0 .52-.05.77-.1a4.14 4.14 0 003.41-4.08V4.16A4.12 4.12 0 0026.61 0zM29 17.54a2.73 2.73 0 010 .57 2.39 2.39 0 01-2.34 2H24.8v4.5l-.33-.22c-2-1.36-3.91-2.73-5.87-4.07a1.24 1.24 0 00-.64-.2H4.27A2.4 2.4 0 012 17.55V4.35A1.61 1.61 0 012 4a2.4 2.4 0 012.57-2.21h22.19A2.39 2.39 0 0129 4.35z'/%3E%3Cpath d='M8.44 6.33h14.15v1.74H8.44zM8.43 10.14h14.15v1.73H8.43zM8.43 13.95h14.15v1.73H8.43z'/%3E%3C/svg%3E");
}

.content-heavy__bottom__bg .content-heavy__carousel {
  height: 100%;
  overflow: hidden;
}
.content-heavy__bottom__bg .content-heavy__slide {
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.content-heavy__table {
  width: 86%;
  border-top: 1px solid #FFBB00;
  border-bottom: 1px solid #FFBB00;
  font-size: 14px;
  padding: 10px 0px;
}
@media (max-width: 1279px) {
  .content-heavy__table {
    width: 60%;
  }
}
@media (max-width: 979px) {
  .content-heavy__table {
    width: 100%;
    margin-bottom: 40px;
  }
}
.content-heavy__table .content-heavy__place {
  padding: 12px 20px 12px 0px;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .content-heavy__table .content-heavy__place {
    white-space: unset;
  }
}
.content-heavy__table .content-heavy__price {
  padding: 12px 20px 12px 20px;
  text-align: right;
}

.margin--10 {
  height: 10px;
}
@media (max-width: 1023px) {
  .margin--10.mobile {
    height: 10px;
  }
}

.margin--20 {
  height: 20px;
}
@media (max-width: 1023px) {
  .margin--20.mobile {
    height: 10px;
  }
}

.margin--30 {
  height: 30px;
}
@media (max-width: 1023px) {
  .margin--30.mobile {
    height: 15px;
  }
}

.margin--40 {
  height: 40px;
}
@media (max-width: 1023px) {
  .margin--40.mobile {
    height: 20px;
  }
}

.margin--50 {
  height: 50px;
}
@media (max-width: 1023px) {
  .margin--50.mobile {
    height: 25px;
  }
}

.margin--60 {
  height: 60px;
}
@media (max-width: 1023px) {
  .margin--60.mobile {
    height: 30px;
  }
}

.margin--70 {
  height: 70px;
}
@media (max-width: 1023px) {
  .margin--70.mobile {
    height: 35px;
  }
}

.margin--80 {
  height: 80px;
}
@media (max-width: 1023px) {
  .margin--80.mobile {
    height: 40px;
  }
}

.margin--90 {
  height: 90px;
}
@media (max-width: 1023px) {
  .margin--90.mobile {
    height: 45px;
  }
}

.margin--100 {
  height: 100px;
}
@media (max-width: 1023px) {
  .margin--100.mobile {
    height: 50px;
  }
}

.margin--110 {
  height: 110px;
}
@media (max-width: 1023px) {
  .margin--110.mobile {
    height: 55px;
  }
}

.margin--120 {
  height: 120px;
}
@media (max-width: 1023px) {
  .margin--120.mobile {
    height: 60px;
  }
}

.contact-banner__bottom {
  position: relative;
}
.contact-banner__bottom.bg-yellow .contact-banner__bottom__text {
  color: #454B4D;
}
.contact-banner__bottom.bg-yellow .contact-banner__table {
  width: 80%;
  border-top: 1px solid #354B54;
  border-bottom: 1px solid #354B54;
}
.contact-banner__bottom.bg-yellow .contact-banner__top__underline {
  background-color: #0293A7;
}

.contact-banner__top__title {
  position: relative;
  margin-bottom: 40px;
  padding: 90px 80px 15px 0px;
}
@media (max-width: 1279px) {
  .contact-banner__top__title {
    padding: 30px 0px 26px 0px;
    margin-bottom: 26px;
  }
}
.contact-banner__top__title h1 {
  font-size: 55px;
  line-height: 60px;
}
@media (max-width: 839px) {
  .contact-banner__top__title h1 {
    font-size: 38px;
    line-height: 42px;
  }
}

.contact-banner__top__underline {
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 110%;
  height: 1px;
  z-index: 2000;
}

.contact-banner__wrapper {
  position: relative;
}

.contact-banner__bottom__text {
  color: #ffffff;
  width: 45%;
}
@media (max-width: 1279px) {
  .contact-banner__bottom__text {
    width: 100%;
    padding-right: 0px;
    padding-top: 340px;
  }
}
@media (max-width: 599px) {
  .contact-banner__bottom__text {
    padding-top: 270px;
  }
}

.contact-banner__bottom__bg {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 55%;
}
@media (max-width: 1279px) {
  .contact-banner__bottom__bg {
    bottom: unset;
    right: unset;
    top: 0;
    left: 0;
    width: 100%;
    height: 340px;
  }
}
@media (max-width: 599px) {
  .contact-banner__bottom__bg {
    height: 270px;
  }
}

.contact-banner__info {
  padding: 0px 80px 80px 0px;
}
@media (max-width: 1279px) {
  .contact-banner__info {
    padding: 0px 0px 40px 0px;
  }
}

.contact-banner__bottom__copy {
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 20px;
}
@media (max-width: 1279px) {
  .contact-banner__bottom__copy {
    margin-bottom: 0px;
  }
}
.contact-banner__bottom__copy p {
  margin-bottom: 30px;
}

.contact-banner__bottom__subtitle {
  font-weight: 500;
  font-size: 16px;
  padding-bottom: 10px;
}
@media (max-width: 1279px) {
  .contact-banner__bottom__subtitle {
    margin-bottom: 0px;
  }
}
.contact-banner__bottom__subtitle p {
  margin-bottom: 30px;
}

.contact-banner__pricing__heading {
  padding-bottom: 16px;
}

.contact-banner__top__title {
  position: relative;
  margin-bottom: 70px;
  padding: 90px 140px 30px 0px;
}
@media (max-width: 1279px) {
  .contact-banner__top__title {
    padding: 30px 0px 26px 0px;
    margin-bottom: 26px;
  }
}
.contact-banner__top__title h1 {
  font-size: 55px;
  line-height: 60px;
}
@media (max-width: 839px) {
  .contact-banner__top__title h1 {
    font-size: 38px;
    line-height: 42px;
  }
}

.contact-banner__top__heading--bottom {
  margin-left: 30px;
}

.contact-banner__top__underline {
  position: absolute;
  bottom: 0;
  left: 30px;
  width: 110%;
  height: 1px;
  background-color: #FFBB00;
  z-index: 2000;
}

.contact-banner__chat {
  width: 76px;
  height: 52px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #FFBB00;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 1279px) {
  .contact-banner__chat {
    display: none;
  }
}
.contact-banner__chat::after {
  margin-top: 10px;
  content: url("data:image/svg+xml,%3Csvg fill='%23FFFFFF' width='32' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 31 28'%3E%3Cpath d='M26.61 0H4.4A4.12 4.12 0 00.26 4.13v13.64a4.14 4.14 0 004 4.11H17.39a1.13 1.13 0 01.64.2l8.21 5.69.32.21v-6.07c.27 0 .52-.05.77-.1a4.14 4.14 0 003.41-4.08V4.16A4.12 4.12 0 0026.61 0zM29 17.54a2.73 2.73 0 010 .57 2.39 2.39 0 01-2.34 2H24.8v4.5l-.33-.22c-2-1.36-3.91-2.73-5.87-4.07a1.24 1.24 0 00-.64-.2H4.27A2.4 2.4 0 012 17.55V4.35A1.61 1.61 0 012 4a2.4 2.4 0 012.57-2.21h22.19A2.39 2.39 0 0129 4.35z'/%3E%3Cpath d='M8.44 6.33h14.15v1.74H8.44zM8.43 10.14h14.15v1.73H8.43zM8.43 13.95h14.15v1.73H8.43z'/%3E%3C/svg%3E");
}

.contact-banner__bottom__bg .contact-banner__carousel {
  height: 100%;
  overflow: hidden;
}
.contact-banner__bottom__bg .contact-banner__slide {
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}

.contact-banner__table {
  width: 100%;
  font-size: 16px;
  padding: 10px 0px;
}
.contact-banner__table .contact-banner__icon {
  padding: 12px 20px 12px 0px;
  white-space: nowrap;
}
@media (max-width: 767px) {
  .contact-banner__table .contact-banner__icon {
    white-space: unset;
  }
}
.contact-banner__table .contact-banner__icon img {
  width: 45px;
}
.contact-banner__table .contact-banner__price {
  padding: 12px 20px 12px 20px;
  text-align: left;
}

/*# sourceMappingURL=style.css.map */