$burger-bar-width: 30px;
$burger-bar-height: 2px;
$burger-bar-spacing: 6px;
$burger-full-height: ($burger-bar-height*3)+($burger-bar-spacing*2);
$burger-color-1: $bg-black;

/* generic burger items */
.quilter-nav__btn__wrapper {
    display: none;

    @include mediaMax($laptop-s) {
        display: flex;
        align-items: center;
    } 
}

.burger-bg-1 {
  background: $burger-color-1;
}

.burger-bar {
  height: $burger-bar-height;
  width: $burger-bar-width;
  margin: $burger-bar-spacing;
}

.burger-icon {
  cursor: pointer;
  display: inline-block;
}

.burger-wrapper {
  padding: 10%;
}

.burger-icon {
  /* Collapse */
  .burger-bar-collapse-rise:nth-child(1) {
    transition: 0.2s;
    -webkit-transition: 0.2s;
  }
  .burger-bar-collapse-rise:nth-child(2) {
    width: 50%;
    transition: 0.2s;
    -webkit-transition: transform 0.2s, width 0s;
  }

  .burger-bar-collapse-rise:nth-child(3) {
    width: 25%;
    transition: 0.2s;
    -webkit-transition: 0.2s;
  }
}

.burger-icon.burger-collapse {
    .burger-bar-collapse-rise:nth-child(2) {
      width: 0px;
    }

    .burger-bar-collapse-rise:nth-child(3) {
      width: 70%;
      transition: 0.2s;
      -webkit-transition: 0.2s;
    }
}

.burger-collapse .burger-bar-collapse-rise:nth-child(1) {
  transition: 0.2s;
  transform: translate(0px,  ($burger-bar-spacing+$burger-bar-height)*2);
  -webkit-transition: 0.2s;
}

.burger-collapse .burger-bar-collapse-rise:nth-child(2) {
  transition: transform 0.2s, width 0s 0.2s;
  transform: translate(0px,  ($burger-bar-spacing+$burger-bar-height));
  width: 0px;
  -webkit-transition: transform 0.2s, width 0s 0.2s;
}

.rise .burger-bar-collapse-rise:nth-child(1) {
  transition: 0.2s;
  transform: translate(0px,  ($burger-bar-spacing+$burger-bar-height))
    rotate(-45deg);
  -webkit-transition: 0.2s;
}

.rise .burger-bar-collapse-rise:nth-child(3) {
  transition: 0.2s;
  transform: translate(0px, -($burger-bar-spacing+$burger-bar-height))
    rotate(-135deg);
  -webkit-transition: 0.2s;
}
