﻿@using Umbraco.Web.Models
@inherits UmbracoViewPage

@{
    var homePage = Model.AncestorOrSelf<Home>();
    var socialLinks = homePage.Value<IEnumerable<IPublishedElement>>("footerLinks");

    var phoneNumber = homePage.HasValue("footerNumber") ? homePage.Value<string>("footerNumber") : "";
    var emailAddress = homePage.HasValue("footerEmail") ? homePage.Value<string>("footerEmail") : "";
    var footerAddress = homePage.HasValue("footerAddress") ? homePage.Value("footerAddress") : "";
    var footerEnquires = homePage.Value<Link>("footerSpaceForQueries");
    var footerLogo = homePage.Value<IPublishedContent>("footerImage");
    string currentYear = DateTime.Now.Year.ToString();
}

<!-- FOOTER ELEMENT -->
<footer class="space-footer__wrapper">
    <div class="space-footer__details">
        <div class="section-container">
            <div class="space-footer">
                <div class="space-footer__logo">
                    @if (footerLogo != null)
                    {
                        <img src="@footerLogo.Url" alt="Alternate Text" />
                    }
                </div>
                <div class="space-footer__talk space-footer__box">
                    @if (phoneNumber != null && !string.IsNullOrWhiteSpace(phoneNumber))
                    {
                        <div class="space-footer__title">space to talk</div>
                        <p class="space-footer__text">@phoneNumber</p>
                    }
                    @if (emailAddress != null && !string.IsNullOrWhiteSpace(emailAddress))
                    {
                        <div class="space-footer__title">space to contact</div>
                        <a href="mailto:@emailAddress" class="space-footer__text">@emailAddress</a>
                    }
                    @if (footerEnquires != null)
                    {
                        <div class="space-footer__title">space for enquiries</div>
                        <a href="@footerEnquires.Url" target="@footerEnquires.Target" class="space-footer__text">@footerEnquires.Name</a>
                    }
                </div>
                <div class="space-footer__space space-footer__box">
                    @if (footerAddress != null)
                    {
                    <div class="space-footer__title">space</div>
                    @footerAddress
                    }
                </div>
                @if (socialLinks != null && socialLinks.Any())
                {
                    <div class="space-footer__social space-footer__box">
                        <div class="space-footer__title">space for social</div>
                        @foreach (var item in socialLinks)
                        {

                            var link = item.Value<Link>("socialLinks");
                            var image = item.Value<IPublishedContent>("socialImage");

                            <a href="@link.Url" target="@link.Target" class="space-footer__social__icon space-footer__text">
                                <img src="@image.Url" alt="Alternate Text" />
                                <span>@link.Name</span>
                            </a>
                        }
                    </div>
                }
                <div class="space-footer__box--mobile">
                    <div class="space-footer__box--mobile__contact">
                        @if (phoneNumber != null && !string.IsNullOrWhiteSpace(phoneNumber))
                        {
                            <p class="space-footer__text">@phoneNumber</p>
                        }
                        @if (emailAddress != null && !string.IsNullOrWhiteSpace(emailAddress))
                        {
                            <a href="mailto:@emailAddress" class="space-footer__text">@emailAddress</a>
                        }
                    </div>
                    @if (socialLinks != null && socialLinks.Any())
                    {
                        <div class="space-footer__box--mobile__social">
                            @foreach (var item in socialLinks)
                            {
                                var link = item.Value<Link>("socialLinks");
                                var image = item.Value<IPublishedContent>("socialImage");

                                <a href="@link.Url" target="@link.Target" class="space-footer__social__icon space-footer__text">
                                    <img src="@image.Url" alt="Alternate Text" />
                                    <span>@link.Name</span>
                                </a>
                            }

                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="space-footer__copyright">
        <div class="section-container">
            <div class="space-footer__copyright__inner">
                <div class="space-footer__date heading-7">
                    Spacewithus copyright @currentYear
                </div>
                <div class="space-footer__by heading-7">
                    Site by <span>
                        <svg width="60" id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 347.35 85.04">
                            <defs>
                                <style type="text/css">
                                    .cls-1 {
                                        fill: #ffffff;
                                    }
                                </style>
                            </defs>
                            <title>Artboard 1</title>
                            <path class="cls-1" d="M17.33,17.8a2.93,2.93,0,0,0-2.92,2.92v19.8a2.93,2.93,0,0,0,2.92,2.93l19.66,0a2.94,2.94,0,0,1,2.93,2.93l0,6.22A2.93,2.93,0,0,1,37,55.53l-19.69,0a2.94,2.94,0,0,0-2.92,2.93v21a2.93,2.93,0,0,1-2.92,2.92H2.92A2.93,2.93,0,0,1,0,79.49V4.41A2.93,2.93,0,0,1,2.92,1.48H47.19a2.91,2.91,0,0,1,2.91,2.92L50,14.87a3,3,0,0,1-2.94,2.92ZM261.6,79.1A2.93,2.93,0,0,0,264.52,82h8.56A2.93,2.93,0,0,0,276,79.1V4a2.93,2.93,0,0,0-2.92-2.92h-8.56A2.93,2.93,0,0,0,261.6,4Zm-186.24-43h0ZM149,.93a2.93,2.93,0,0,0-2.92,2.92V58.13c0,1.61,0,2.95-.06,3a.08.08,0,0,1-.12,0s-.78-1.16-1.65-2.51l-36-55.22A6,6,0,0,0,103.7.93H90.45l-2.92,0,.06,0s.06,1.32.06,2.92v15a16.83,16.83,0,0,0,1.16,5.6l12,27.54c.64,1.47,1.16,1.37,1.16-.24V22.72a18.64,18.64,0,0,1,.12-2.92,24,24,0,0,1,1.7,2.46L140.58,79.4a6,6,0,0,0,4.51,2.46h12.44a2.93,2.93,0,0,0,2.92-2.92V3.85A2.93,2.93,0,0,0,157.53.93ZM71.15,3.62A4.83,4.83,0,0,0,67.07.93H60.66a2.93,2.93,0,0,0-2.92,2.92v11.5a2.76,2.76,0,0,0,2.81,2.82,4.26,4.26,0,0,1,3.84,2.64l7.09,19a1.9,1.9,0,0,1-1.9,2.74H57.33a2.93,2.93,0,0,0-2.92,2.92v6.5a2.93,2.93,0,0,0,2.92,2.92H74.59a4.69,4.69,0,0,1,4,2.71L87.3,79.15a4.69,4.69,0,0,0,4,2.71h10.62a1.79,1.79,0,0,0,1.77-2.68Zm112.61,0A4.83,4.83,0,0,0,179.68.93h-6.41a2.93,2.93,0,0,0-2.92,2.92v11.5a2.76,2.76,0,0,0,2.81,2.82A4.26,4.26,0,0,1,177,20.82l7.09,19a1.9,1.9,0,0,1-1.9,2.74H169.94A2.93,2.93,0,0,0,167,45.44v6.5a2.93,2.93,0,0,0,2.92,2.92H187.2a4.69,4.69,0,0,1,4,2.71l8.69,21.57a4.69,4.69,0,0,0,4,2.71h10.61a1.79,1.79,0,0,0,1.77-2.68Zm7-3A1.79,1.79,0,0,0,189,3.31l3.3,7.66a4.83,4.83,0,0,0,4.08,2.68h21.08a2.93,2.93,0,0,1,2.92,2.92V62.27a16.94,16.94,0,0,0,1.16,5.61l4.73,11a4.83,4.83,0,0,0,4.08,2.68h1.51a2.93,2.93,0,0,0,2.92-2.92v-62a2.93,2.93,0,0,1,2.92-2.92h15.65a2.93,2.93,0,0,0,2.92-2.92V3.54A2.93,2.93,0,0,0,253.35.62ZM346.82,70.53a2.84,2.84,0,0,0-.64-3.95l-7.06-5.09a2.78,2.78,0,0,0-3.88.55,2.49,2.49,0,0,0-.11.25l-.16-.11C329.6,69,323.31,72,316.8,72,300.11,72,289,59.21,289,41.95,289,25.83,300.11,13,316.8,13c5.6,0,11.09,1.71,17,8l.06,0a2.63,2.63,0,0,0,.46.73l.67.7a2.84,2.84,0,0,0,4,.08l6-5.74a2.75,2.75,0,0,0,.21-3.86c-.06-.06-.14-.08-.21-.14C337,3.53,327.64,0,316.68,0c-14.39,0-26.39,5.67-34,15.43V69.75c7.59,9.63,19.59,15.29,34,15.29,11.89,0,22.86-4.34,30.18-14.4l-.08-.05Z"></path>
                        </svg>
                    </span>
                </div>
            </div>
        </div>
    </div>
</footer>