﻿@inherits UmbracoViewPage
@using Umbraco.Web.Models

@{
    var carouselImages = Model.Value<IEnumerable<IPublishedElement>>("bannerCarousel");

    var topTitle = Model.HasValue("topTitleLine") ? Model.Value("topTitleLine") : Model.Name;
    var bottomTitle = Model.HasValue("bottomTitleLine") ? Model.Value<string>("bottomTitleLine") : "";
    var carouselBackground = Model.HasValue("bannerCarouselBackgroundColour") ? Model.Value<string>("bannerCarouselBackgroundColour") : "";
    var bannerText = Model.HasValue("bannerText") ? Model.Value<string>("bannerText") : "";
    var carouselText = Model.HasValue("bannerCarouselText") ? Model.Value("bannerCarouselText") : "";
    var textLink = Model.Value<Link>("bannerLinkButton");
    var instagramLink = Model.Value<Link>("bannerLinkInstagram");
    var facebookLink = Model.Value<Link>("bannerLinkFacebook");

    var image = Model.Value<IPublishedContent>("homeBannerImage", fallback: Fallback.ToAncestors);
    string imageUrl = "";
    if (image != null)
    {
        imageUrl = image.GetCropUrl(1600, 500);
    }
}

<div class="home-billboard__wrapper">
    <div class="home-billboard__top lazy" style="@(!string.IsNullOrWhiteSpace(imageUrl) ? "background-image:url('" + @imageUrl + "')" : null)">
        <div class="home-billboard__overlay"></div>
        <div class="section-container">
            <div class="home-billboard__top__text">
                <div class="home-billboard__top__text__inner">
                    <div class="home-billboard__top__title">
                        <h1 class="home-billboard__top__heading">@topTitle</h1>
                        @if (!string.IsNullOrWhiteSpace(bottomTitle))
                        {
                            <h1 class="home-billboard__top__heading home-billboard__top__heading--bottom">@bottomTitle</h1>
                        }
                    </div>
                    @if (!string.IsNullOrWhiteSpace(bannerText))
                    {
                        <p class="home-billboard__top__copy">@bannerText</p>
                    }
                    @if (textLink != null)
                    {
                        <div class="home-billboard__btn btn__wrapper">
                            <a class="space-btn" href="@textLink.Url" target="@textLink.Target">@textLink.Name</a>
                        </div>
                    }

                    @if (instagramLink != null || facebookLink != null)
                    {
                        <div class="home-billboard__top__social">
                            @if (instagramLink != null)
                            {
                                <a href="@instagramLink.Url" target="@instagramLink.Target" class="home-billboard__top__instagram"></a>
                            }

                            @if (facebookLink != null)
                            {
                                <a href="@facebookLink.Url" target="@facebookLink.Target" class="home-billboard__top__facebook"></a>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="home-billboard__bottom @(!string.IsNullOrWhiteSpace(carouselBackground) ? carouselBackground : "bg-navy")">
        @if (Model.HasValue("bannerCarouselText"))
        {
            <div class="section-container">
                <div class="home-billboard__bottom__text">
                    @carouselText
                </div>
            </div>
        }

        <div class="home-billboard__bottom__bg">
            <div class="js-home-billboard home-billboard__carousel">
                @if (carouselImages != null && carouselImages.Any())
                {
                    foreach (var item in carouselImages)
                    {
                        var imageCarousel = item.Value<IPublishedContent>("image");

                        <div class="home-billboard__slide" style="background-image:url('@imageCarousel.Url')"></div>
                    }
                }
            </div>
            <div class="home-billboard__nav previous-caro"><span class="nav-previous"></span></div>
            <div class="home-billboard__nav next-caro"><span class="nav-next"></span></div>
        </div>
    </div>

    <a href="#" class="home-billboard__chat"></a>
</div>

