﻿@inherits UmbracoViewPage

<div class="content-heavy__wrapper">

    <div class="content-heavy__bottom bg-green">
        <div class="section-container">
            <div class="content-heavy__bottom__text">
                <div class="content-heavy__top__title">
                    <h1 class="content-heavy__top__heading">Conferences</h1>
                    <div class="content-heavy__top__underline bg-yellow"></div>
                </div>
                <div class="content-heavy__info">
                    <div class="content-heavy__bottom__subtitle">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                    <div class="content-heavy__bottom__copy">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                    </div>
                    <div class="content-heavy__pricing">
                        <h2 class="content-heavy__pricing__heading heading-3">Our Spaces Pricing</h2>
                        <table class="content-heavy__table">
                            <tbody>
                                <tr>
                                    <td class="content-heavy__place">ACCA</td>
                                    <td class="content-heavy__price">£345.00</td>
                                </tr>
                                <tr>
                                    <td class="content-heavy__place">Fulton</td>
                                    <td class="content-heavy__price">£1345.00</td>
                                </tr>
                                <tr>
                                    <td class="content-heavy__place">Jubilee</td>
                                    <td class="content-heavy__price">£11345.00</td>
                                </tr>
                                <tr>
                                    <td class="content-heavy__place">Conference Centre</td>
                                    <td class="content-heavy__price">£45.00</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-heavy__bottom__bg">
            <div class="content-heavy__carousel">
                <div class="content-heavy__slide" style="background-image:url('https://picsum.photos/800/300')"></div>
            </div>
        </div>
    </div>

    <a href="#" class="content-heavy__chat"></a>
</div>