/*------------------------------------|
|	Content Wrap                        |
|------------------------------------*/

/*---- Limits width of content, adds side padding, & allows background colours to extend to screen edge ----*/

.section-container {
  max-width: $max-width;
  @include responsive-padding-left-right(15px, 54px);
  margin: 0 auto;
  box-sizing: border-box;

  &.fluid {
    max-width: $max-width-fluid;
  }

  @include mediaMax($tablet-s) {
    padding-left: $global-gutter !important;
    padding-right: $global-gutter !important;
  }

  &.center {
    text-align: center;
  }

  &.half {
    @include responsive-padding-left-right(15px, 25px);
  }

  &.maxWidth--1240 {
    max-width: 1240px;
  }

  @include mediaMax($tablet-l) {}
}