// ==========================================================================
// Footer Main
// ==========================================================================
.space-footer__details {
    padding: 85px 0px 60px;
    background-color: $bg-gray;

    @include mediaMax($tablet-l) {
        padding: 40px 0px 16px;
    }
}

.space-footer__logo {
    width: 300px;

    svg {
        width: 178px;
    }

    img {
        width: 178px;
    }
}

.space-footer__title {
    color: $text-black;
    margin-bottom: 14px;
    font-weight: 500;
}

.space-footer__text {
    font-size: 12px;
    margin-bottom: 14px;
    color: $text-gray;
}

.space-footer {
    display: flex;

    @include mediaMax($tablet-l) {
        flex-direction: column;
    }
}

.space-footer__box {
    padding: 14px 16px;
    position: relative;
    width: 180px;
    margin-right: 60px;

    @include mediaMax($tablet-l) {
        display: none;
    }

    &::before {
        content: ("");
        position: absolute;
        top: 0;
        left: 16px;
        width: 40px;
        height: 5px;
        background-color: $bg-yellow;
    }
}

.space-footer__box--mobile {
    display: none;
    position: relative;
    margin-top: 20px;
    padding-top: 24px;

    @include mediaMax($tablet-l) {
        display: flex;
    }

    &::before {
        content: ("");
        position: absolute;
        top: 0;
        left: 0px;
        width: 40px;
        height: 5px;
        background-color: $bg-yellow;
    }
}

.space-footer__social__icon {
    display: flex;
    align-items: center;

    svg {
        margin-right: 10px;

        @include mediaMax($phone-l) {
            margin-right: 6px;
        }
    }

    img {
        margin-right: 10px;
        width: 15px;

        @include mediaMax($phone-l) {
            margin-right: 6px;
        }
    }
}

.space-footer__box--mobile__contact {
    margin-right: 30px;

    @include mediaMax($phone-l) {
        margin-right: 15px;
    }
}


// ==========================================================================
// Footer Copyright
// ==========================================================================
.space-footer__copyright {
    background-color: $bg-primary;
}

.space-footer__copyright__inner {
    display: flex;
    justify-content: space-between;
    color: $text-white;
    padding: 18px 0px;
}

.space-footer__date {
    display: flex;
    align-items: center;
}

.space-footer__by {
    display: flex;
    align-items: center;

    svg {
        margin-left: 10px;
    }
}