
// LANDMARK
// Adding `margin-bottom` to an element
// ==========================================================================
@mixin landmark($spacing: $half-spacing-unit, $desktop: true) {
    margin-bottom: $spacing;

    @if($desktop==true) {
        @include mediaMax($tablet-l) {
            margin-bottom: $spacing / 2;
        }
    }
}