// ==========================================================================
//  LINKS STYLES
// ==========================================================================

@mixin link-underline($color: currentColor, $size: 3px) {
    
    cursor: pointer;
    outline: none;
    display: inline-block;
    position: relative;
    text-decoration: none;
    padding: 6px 0;
    color: #fff;

    &:after {
        content: '';
        
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: $size;
        transform: scaleY(0);
        background-color: $color;
        transition: transform 0.3s;
    }

    &:focus {
        &:after {
            transform: scaleY(1);
        }
    }

    @include mediaMin($laptop-s) {
        &:hover {
            &:after {
                transform: scaleY(1);
            }
        }
    }
}